In [1]:
#Importing the relevant libraries
import numpy as np
import pandas as pd
import math
import statistics as stat
import matplotlib.pyplot as plt

In [2]:
#Importing the Datasets ratings and movies
dratings = pd.read_csv(r"/Volumes/bp first/Tampere University/Recommender Systems/ml-100k/userdata.csv", sep='\t', header=None)
dratings.columns=['userId','movieId','rating','timestamp']

d = 'movieId | title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western'
column_names2 = d.split(' | ')

# Loading the movies dataset
movies_data = pd.read_csv('/Volumes/bp first/Tampere University/Recommender Systems/ml-100k/uitem.csv', sep='|',header=None,names=column_names2,encoding='latin-1')
dmovies=movies_data[['movieId','title']]
dmovies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [3]:
## Ratings Dataset
dratings

       userId  movieId  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [4]:
## Movies Dataset
dmovies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [5]:
## Dropping 'Timestamp' as it is not required
dratings = dratings.drop(columns = ["timestamp"])

In [6]:
##Dataset after dropping the column 'timestamp'
dratings

       userId  movieId  rating
0         196      242       3
1         186      302       3
2          22      377       1
3         244       51       2
4         166      346       1
...       ...      ...     ...
99995     880      476       3
99996     716      204       5
99997     276     1090       1
99998      13      225       2
99999      12      203       3

[100000 rows x 3 columns]

In [7]:
# Calculating the length of unique users in the dataset just for the knowledge and check purpose
len(dratings["userId"].unique())

943

In [8]:
#Picking up a random user (userId= 155) 
uId = 405
inputMovies = dratings[dratings['userId']== uId]
inputMovies.head(10)

       userId  movieId  rating
12276     405       56       4
12383     405      592       1
12430     405     1582       1
12449     405      171       1
12460     405      580       1
12472     405     1409       1
12484     405      953       3
12604     405      994       1
12607     405      387       1
12718     405     1432       1

In [9]:
# Number of movies that selected user has rated/watched
len(inputMovies)

737

In [10]:
# Now we will find out the similar users like the selected user
# Alternately, we can say, finding the useres who rates similar movies as our selected user
similarUsersA = dratings[dratings['movieId'].isin(inputMovies['movieId'].tolist())]
len(similarUsersA['userId'].unique())

930

In [11]:
# Creating sub dataframes based on userId
similarUsersGroupA = similarUsersA.groupby(['userId'])

In [12]:
# Let's sort those users dataframes
# So that, users with most in common with the selected user will have the priority
similarUsersGroupA = sorted(similarUsersGroupA, key= lambda x:len(x[1]), reverse = True)

In [13]:
# Inspecting the 2nd top user (1st one is the same as our selected user)
similarUsersGroupA[1]

(846,
        userId  movieId  rating
 56664     846     1074       3
 56764     846       94       4
 56811     846      627       4
 56859     846       57       2
 57066     846      377       2
 ...       ...      ...     ...
 99238     846      210       5
 99549     846      318       5
 99669     846       40       2
 99670     846       98       4
 99809     846      101       4

 [346 rows x 3 columns])

In [14]:
#Length of the movies watched by the userId=846 and its respective ratings
len(similarUsersGroupA[1][1])

346

In [15]:
### Calculating The Similarity (Pearson Correlation) of the Selected (Input) User to the Similar User
# Here, limiting the number to 100 Similar Users while computing the Similarity Score using pearson corrrelation.
similarUsersGroupA = similarUsersGroupA[1:101] # Removing the first user (userId =405), as it is our selected user
len(similarUsersGroupA)

100

In [16]:
#Store the Pearson Correlation in a dictionary, 
# where the key is the user Id and the value is the coefficient
def pearsonCorr(similarUsersGroup):
    pearsonCorrelationDict = {}
    #For every similar user group in our subset
    for name, group in similarUsersGroup:

        #Let's start by sorting the input and current user group so the values aren't mixed up later on
        group = group.sort_values(by='movieId')
        inputMovies1 = inputMovies.sort_values(by='movieId')

        #Get the N (total similar movies watched) for the formula 
        #nRatings = len(group)

        #Get the review scores of the Selected user for the movies that they both have in common
        temp_df = inputMovies1[inputMovies1['movieId'].isin(group['movieId'].tolist())]

        #And then store them in a temporary buffer variable in a list format to facilitate future calculations
        selectedUserTempRatingList = temp_df['rating'].tolist()
        #print(selectedUserTempRatingList)

        #Let's also put the current user group reviews in a list format
        similarUserTempRatingList = group['rating'].tolist()

        #Calculating pearson similarity
        simXX = 0
        meanSelectedUserTempRating = stat.mean(selectedUserTempRatingList)
        for i in selectedUserTempRatingList:
            simXX = simXX + pow((i - meanSelectedUserTempRating),2)

        simYY = 0
        meanSimilarUserTempRaning = stat.mean(similarUserTempRatingList)
        for j in similarUserTempRatingList:
            simYY = simYY + pow((j - meanSimilarUserTempRaning),2)

        simXY = 0
        for i, j in zip(selectedUserTempRatingList, similarUserTempRatingList):
            simXY = simXY+ ((i - meanSelectedUserTempRating ) * (j-meanSimilarUserTempRaning))

        #If the denominator is different than zero, then divide, else, 0 correlation.
        if simXX != 0 and simYY != 0:
            pearsonCorrelationDict[name] = simXY/np.sqrt(simXX*simYY)
        else:
            pearsonCorrelationDict[name] = 0                    
    
    maxSimilarUser = dict(sorted(pearsonCorrelationDict.items(), key=lambda item: item[1], reverse= True))
    return maxSimilarUser

In [17]:
def similarUsersofUserID (pearsonCorrelationDict):
    
    #Converting the Pearson Correlation Dictionary into a Data Frame
    similarityScoreofSimilarUsers_data = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
    similarityScoreofSimilarUsers_data.head()
    
    #Similarity score of other similar users to our selected user (155)
    similarityScoreofSimilarUsers_data.columns = ['similarityScore']
    similarityScoreofSimilarUsers_data['userId'] = similarityScoreofSimilarUsers_data.index
    similarityScoreofSimilarUsers_data.index = range(len(similarityScoreofSimilarUsers_data))
    
    #Sorting the DataFrame by the parameter called 'SimilarityScore'
    topSimilarUsers=similarityScoreofSimilarUsers_data.sort_values(by='similarityScore', ascending=False)
    
    # Merging the top similar users similarity score with their ratings of movies
    topSimilarUsersRating = topSimilarUsers.merge(dratings, left_on='userId', right_on='userId', how='inner')
    
    # Calculating the mean ratings of all the similar users
    meanRb = topSimilarUsersRating.groupby('userId').mean()[['rating']]
    meanRb.columns = ['avgRating']
    meanRb['userId'] = meanRb.index
    meanRb.index = range(len(meanRb))
    
    # Merging the top similar users average rating score 
    topSimilarUsersRating = topSimilarUsersRating.merge(meanRb, left_on='userId', right_on='userId', how='inner')
    
    #Multiplies the similarity by the user's ratings
    topSimilarUsersRating['weightedRatingScore'] = topSimilarUsersRating['similarityScore']*(topSimilarUsersRating['rating']-topSimilarUsersRating['avgRating'])
    
    #Applies a sum to the topUsers after grouping it up by userId
    tempTopSimilarUsersRating = topSimilarUsersRating.groupby('movieId').sum()[['weightedRatingScore']]
    tempTopSimilarUsersRating.columns = ['sum_weightedRatingScore']
    tempTopSimilarUsersRating['movieId'] = tempTopSimilarUsersRating.index
    
    #Creates an empty dataframe
    recommendation_data = pd.DataFrame()
    
    #Now we take the weighted average
    meanRa = inputMovies['rating'].mean()
    recommendation_data['weighted average recommendation score'] = meanRa+(tempTopSimilarUsersRating['sum_weightedRatingScore']/topSimilarUsers['similarityScore'].sum())
    recommendation_data['movieId'] = recommendation_data.index
    recommendation_data = recommendation_data.sort_values(by='weighted average recommendation score', ascending=False)
    recommendation_data.index = [x for x in range(1,len(recommendation_data)+1)]
    
    return recommendation_data

In [18]:
## Calling the function Pearson Correlation for calculating the similarity index
pearsonCorrelationDictA = pearsonCorr(similarUsersGroupA)

## Calling the function for generating recommendations for every user
recMovieA = similarUsersofUserID(pearsonCorrelationDictA)
recMovieA

      weighted average recommendation score  movieId
1                                  3.085856       50
2                                  3.010456      174
3                                  2.965200      172
4                                  2.857734       64
5                                  2.830892       98
...                                     ...      ...
1495                               1.376844      395
1496                               1.371075      231
1497                               1.294310      546
1498                               1.253499       29
1499                               1.233979      665

[1499 rows x 2 columns]

In [19]:
#lets see users who are similar to user A by looking at correlation dictionary
pearsonCorrelationDictA

{130: 0.37961846221436457,
 222: 0.3429066839146551,
 276: 0.3197632949832927,
 303: 0.31890705970857397,
 880: 0.31809860423634717,
 618: 0.3121222403179797,
 896: 0.3067435633859717,
 864: 0.2994859766318906,
 749: 0.2874513850195474,
 622: 0.2859064276858622,
 437: 0.2735623522390208,
 416: 0.2663795737832617,
 95: 0.2650805900462755,
 291: 0.2618014265086014,
 379: 0.25533391720072673,
 429: 0.2472260089383148,
 301: 0.2455439411554271,
 886: 0.24466510320470453,
 417: 0.24120007956206244,
 271: 0.23124177641790494,
 7: 0.21510987177036997,
 474: 0.20441515266675514,
 378: 0.20435360376779346,
 727: 0.20326537806118627,
 194: 0.19668865053987647,
 457: 0.19147292934392982,
 758: 0.19130664988230153,
 648: 0.19022962121178844,
 407: 0.18841138553822653,
 506: 0.18821284080254094,
 497: 0.18720478821842731,
 796: 0.1847371600144272,
 747: 0.18400537855859128,
 650: 0.18359849171374107,
 653: 0.1809037320071532,
 286: 0.17871489070964677,
 343: 0.17790025641209048,
 328: 0.17391260970386402,
 870: 0.17279966918731074,
 846: 0.17010850832588198,
 201: 0.16931860454981412,
 59: 0.16625616668161414,
 13: 0.16571860162076085,
 682: 0.1652429800578542,
 716: 0.16243994441771972,
 892: 0.1593157950601032,
 363: 0.15891848268569456,
 393: 0.1503928783016631,
 804: 0.1483355459439959,
 712: 0.13811400730936593,
 504: 0.1369697052217986,
 450: 0.1351280374070967,
 293: 0.1322471791189863,
 472: 0.13148846546916634,
 881: 0.13028416458459943,
 889: 0.12643795641981104,
 389: 0.11808719862777652,
 495: 0.10770159747832893,
 551: 0.10291505632461181,
 313: 0.09474882628367115,
 94: 0.094500745481761,
 92: 0.09402816324682843,
 788: 0.09320438980988754,
 588: 0.09263450257846274,
 268: 0.09246794548934029,
 326: 0.08617485136022476,
 311: 0.07994191300292676,
 85: 0.07936443373197173,
 537: 0.07613540816499086,
 327: 0.07091883200296055,
 90: 0.06424523879759265,
 774: 0.06351947852881636,
 339: 0.06144009125387283,
 334: 0.06143185785890227,
 151: 0.056608801486119076,
 642: 0.044018932181595874,
 435: 0.03660113145465196,
 234: 0.033177612850703,
 655: 0.030335053411754367,
 916: 0.025267105839234187,
 373: 0.024662050357743565,
 387: 0.019417754843104904,
 543: 0.014957267581794179,
 308: 0.008433619745827807,
 399: 0.004598436073649535,
 833: 0.0037257892004676552,
 843: 0.003246419153349749,
 406: -0.008587315975503869,
 1: -0.008591721600450207,
 184: -0.027719531987784866,
 18: -0.04925419204937982,
 805: -0.05528567256439569,
 280: -0.05929696631364403,
 299: -0.07874314894849552,
 269: -0.08306907191330258,
 279: -0.0875005382865721,
 561: -0.08846861268230952,
 524: -0.09650874406810549,
 883: -0.16805987045455778,
 385: -0.26267188222338195}

In [20]:
#Lets take 130 and 222, so lets produce recommendation for them
#The same approach is followed for the following two users as done for the userA.
#The approach is basically finding the most similar users for userB and userC 
#Then followed by calculating the pearson correlation similarity index and moreover generating recommendations for every user.
# Following are the users and their respective ids for understanding the meaning for every variable name.
# For UserB: - userId= 130
# For UserC: - userId = 222

In [21]:
# For UserB: - userId= 130
uId = 130
inputMovies = dratings[dratings['userId']== uId]
similarUsersB = dratings[dratings['movieId'].isin(inputMovies['movieId'].tolist())]
similarUsersB= dratings[dratings['movieId'].isin(inputMovies['movieId'].tolist())]
similarUsersGroupB= similarUsersB.groupby(['userId'])
similarUsersGroupB= sorted(similarUsersGroupB, key= lambda x:len(x[1]), reverse = True)
similarUsersGroupB= similarUsersGroupB[1:101] # Removing the first user (userId =130 as it is our selected user
pearsonCorrelationDictB = pearsonCorr(similarUsersGroupB)
recMovieB = similarUsersofUserID(pearsonCorrelationDictB)

In [22]:
recMovieB

      weighted average recommendation score  movieId
1                                  5.092521       50
2                                  5.018192      174
3                                  4.926366      172
4                                  4.892665       98
5                                  4.883274       64
...                                     ...      ...
1607                               3.565534      120
1608                               3.540767      231
1609                               3.505565      122
1610                               3.493753      931
1611                               3.489634       29

[1611 rows x 2 columns]

In [23]:
# For UserC: - userId = 222
uId = 222
inputMovies = dratings[dratings['userId']== uId]
similarUsersC= dratings[dratings['movieId'].isin(inputMovies['movieId'].tolist())]
similarUsersC=dratings[dratings['movieId'].isin(inputMovies['movieId'].tolist())]
similarUsersGroupC=similarUsersC.groupby(['userId'])
similarUsersGroupC= sorted(similarUsersGroupC, key= lambda x:len(x[1]), reverse = True)
similarUsersGroupC= similarUsersGroupC[1:101] # Removing the first user (userId =222 as it is our selected user
pearsonCorrelationDictC = pearsonCorr(similarUsersGroupC)
recMovieC = similarUsersofUserID(pearsonCorrelationDictC)

In [24]:
recMovieC

      weighted average recommendation score  movieId
1                                  4.159497       50
2                                  4.069838      174
3                                  4.052330       98
4                                  3.985572       64
5                                  3.951120      172
...                                     ...      ...
1556                               2.644530      235
1557                               2.603150      231
1558                               2.581719      931
1559                               2.576554      122
1560                               2.535653       29

[1560 rows x 2 columns]

In [25]:
## Mergeing the recommendation DataFrames for userA and userB 
u1_2_df = pd.merge(recMovieA, recMovieB, how='inner', on=['movieId'])
u1_2_df

,weighted average recommendation score_x,movieId,weighted average recommendation score_y
0,3.085856,50,5.092521
1,3.010456,174,5.018192
2,2.965200,172,4.926366
3,2.857734,64,4.883274
4,2.830892,98,4.892665
...,...,...,...
1484,1.376844,395,3.703338
1485,1.371075,231,3.540767
1486,1.294310,546,3.666743
1487,1.253499,29,3.489634
1488,1.233979,665,3.663725

In [26]:
## Mergeing the recommendation DataFrames for userA,userB with useC 
uCombined_df = pd.merge(u1_2_df, recMovieC, how='inner', on=['movieId'])
uCombined_df

,weighted average recommendation score_x,movieId,weighted average recommendation score_y,weighted average recommendation score
0,3.085856,50,5.092521,4.159497
1,3.010456,174,5.018192,4.069838
2,2.965200,172,4.926366,3.951120
3,2.857734,64,4.883274,3.985572
4,2.830892,98,4.892665,4.052330
...,...,...,...,...
1482,1.376844,395,3.703338,2.783498
1483,1.371075,231,3.540767,2.603150
1484,1.294310,546,3.666743,2.655897
1485,1.253499,29,3.489634,2.535653
1486,1.233979,665,3.663725,2.676280

In [27]:
## Calculating the average aggregration dictionary for group of three users: - UserA, UserB, UserC
avgMovieRatings = {}
for i in range(0, len(uCombined_df)-1):
    sum = uCombined_df.iloc[i]['weighted average recommendation score_x'] + uCombined_df.iloc[i]['weighted average recommendation score_y'] + uCombined_df.iloc[i]['weighted average recommendation score']
    avgRating = sum/3
    tempDict = {uCombined_df.iloc[i]['movieId']: avgRating}
    avgMovieRatings.update(tempDict)
    
avgMovieRatings = dict(sorted(avgMovieRatings.items(), key=lambda item: item[1], reverse= True))
avgMovieRatings

{50.0: 4.112624601147859,
 174.0: 4.032828821850178,
 172.0: 3.947561862450241,
 98.0: 3.925295618969416,
 64.0: 3.9088599737966043,
 12.0: 3.825137485528483,
 181.0: 3.7998919772803497,
 127.0: 3.7873965226745923,
 173.0: 3.779689579054216,
 22.0: 3.7657521157270017,
 318.0: 3.6887775264687037,
 195.0: 3.6751479260272895,
 79.0: 3.6582088465010414,
 96.0: 3.655841417768795,
 56.0: 3.6516787931779375,
 183.0: 3.6513686435615456,
 168.0: 3.639536464742294,
 191.0: 3.638089358861778,
 100.0: 3.6136049151602054,
 176.0: 3.5915083432381323,
 204.0: 3.5661046006382104,
 357.0: 3.56604320765704,
 483.0: 3.5605523489391064,
 89.0: 3.533907732916516,
 144.0: 3.5145796843649353,
 69.0: 3.5036130517740474,
 210.0: 3.4847603016905127,
 603.0: 3.478416357377713,
 187.0: 3.4658503273842207,
 185.0: 3.4604906067830385,
 11.0: 3.458917351420497,
 28.0: 3.455850235683638,
 651.0: 3.4557378275367756,
 496.0: 3.4513212047371176,
 186.0: 3.424697068719181,
 1.0: 3.4180233429585427,
 180.0: 3.411804991103113,
 313.0: 3.4073684086243645,
 423.0: 3.401239659672059,
 132.0: 3.4005884105002977,
 194.0: 3.399671850384332,
 655.0: 3.3917809690119705,
 427.0: 3.3910612316433966,
 265.0: 3.38647874680862,
 202.0: 3.3818702364447013,
 7.0: 3.380913346432022,
 234.0: 3.380469354751235,
 82.0: 3.3789959767572957,
 199.0: 3.3789218718559595,
 182.0: 3.3775379904645,
 228.0: 3.3753134917149414,
 134.0: 3.3748106586127142,
 223.0: 3.3590564420349622,
 511.0: 3.3560713815494405,
 196.0: 3.3545829057415055,
 216.0: 3.354435717273549,
 208.0: 3.354234307834375,
 203.0: 3.345847669304483,
 474.0: 3.334091989219646,
 193.0: 3.325881259318759,
 480.0: 3.3252961566151265,
 215.0: 3.323271223927076,
 527.0: 3.314460667637404,
 135.0: 3.309977501219445,
 211.0: 3.3096545351828404,
 258.0: 3.3093673382529456,
 8.0: 3.3047872965620897,
 520.0: 3.3042344444007106,
 9.0: 3.302961938690301,
 156.0: 3.301514116318311,
 302.0: 3.297552844892021,
 484.0: 3.2971659215037987,
 238.0: 3.292957624027314,
 153.0: 3.2918523150554413,
 97.0: 3.2883184197290496,
 169.0: 3.280272172283969,
 479.0: 3.2767171965125654,
 385.0: 3.270096849219941,
 117.0: 3.269898218988098,
 272.0: 3.2639017153679455,
 268.0: 3.2623753579937826,
 657.0: 3.2617975862241693,
 435.0: 3.2574053562157164,
 42.0: 3.2557349092931447,
 588.0: 3.255359999807491,
 178.0: 3.254252659558741,
 197.0: 3.25201725323209,
 83.0: 3.251354306598264,
 95.0: 3.2485667638392486,
 531.0: 3.248263807825497,
 200.0: 3.244080216339692,
 684.0: 3.240858850619638,
 246.0: 3.2349878708437214,
 192.0: 3.234926025142048,
 87.0: 3.2337342653774037,
 71.0: 3.232903802335901,
 23.0: 3.226850374845263,
 151.0: 3.222782474986957,
 568.0: 3.218908462635097,
 222.0: 3.2148265283843522,
 179.0: 3.2136130610478912,
 526.0: 3.210748639053181,
 523.0: 3.2105149977848235,
 746.0: 3.2068522616078865,
 157.0: 3.206228491183637,
 190.0: 3.2002576767535533,
 443.0: 3.1999786497648217,
 124.0: 3.1997778975282327,
 515.0: 3.1989037159783966,
 198.0: 3.1985592221084858,
 205.0: 3.1950177475266286,
 735.0: 3.1897687615453933,
 177.0: 3.187882577781389,
 150.0: 3.1866727920310125,
 237.0: 3.1857647584812576,
 188.0: 3.176041576940841,
 498.0: 3.1682494350554946,
 288.0: 3.166870517574375,
 298.0: 3.1648663471076035,
 404.0: 3.1641109060145163,
 654.0: 3.1620203630948978,
 528.0: 3.1610006475289683,
 431.0: 3.1608582408096932,
 209.0: 3.1605639655237554,
 154.0: 3.159288598590692,
 48.0: 3.1576325866479897,
 429.0: 3.157583664221876,
 293.0: 3.1572027078451854,
 408.0: 3.1560629983978656,
 99.0: 3.1560038303111946,
 521.0: 3.1559303497193967,
 732.0: 3.1551036968376978,
 742.0: 3.1543571055834163,
 482.0: 3.1534948795012823,
 333.0: 3.1532165814456032,
 15.0: 3.1501667069645136,
 31.0: 3.1469590719990888,
 663.0: 3.1465327409462387,
 55.0: 3.1463992320534633,
 170.0: 3.144562714766416,
 136.0: 3.144393676971602,
 257.0: 3.1434108345089142,
 478.0: 3.1406349317895423,
 692.0: 3.1401389453262714,
 316.0: 3.138209673760812,
 661.0: 3.135740912544261,
 114.0: 3.135394224059222,
 275.0: 3.13402550635408,
 510.0: 3.133899019402367,
 315.0: 3.1324631154184783,
 705.0: 3.13201277812581,
 129.0: 3.1317677415152674,
 317.0: 3.1274849978319597,
 276.0: 3.1247341166693623,
 530.0: 3.1247265442525514,
 1039.0: 3.1196402154674323,
 508.0: 3.1152807278370873,
 143.0: 3.1118225388983483,
 430.0: 3.1113952957161923,
 378.0: 3.109293524025796,
 506.0: 3.10674109366486,
 269.0: 3.100223062521376,
 518.0: 3.096495013423905,
 403.0: 3.0943606277934586,
 133.0: 3.09260076437216,
 239.0: 3.091757087739012,
 125.0: 3.091470029123748,
 286.0: 3.090888188470455,
 282.0: 3.090675896185982,
 433.0: 3.0892765029190357,
 175.0: 3.087561773603094,
 504.0: 3.0865166464715688,
 121.0: 3.0862236576993562,
 419.0: 3.0821357664496234,
 519.0: 3.0819075471816593,
 693.0: 3.081565210911098,
 52.0: 3.0813698737191832,
 4.0: 3.080911477164807,
 525.0: 3.0807620786033056,
 164.0: 3.0805106023438067,
 591.0: 3.079587948317764,
 659.0: 3.0784580973692166,
 346.0: 3.071772555936262,
 428.0: 3.071130397301778,
 497.0: 3.0696204004846748,
 137.0: 3.068307902419861,
 285.0: 3.067980875923506,
 652.0: 3.067796270529722,
 509.0: 3.066815097272108,
 470.0: 3.065846634742469,
 184.0: 3.065228251996801,
 1073.0: 3.064539605949758,
 963.0: 3.064194798274313,
 505.0: 3.06415192786125,
 475.0: 3.0629788781538543,
 513.0: 3.061936932229655,
 1063.0: 3.058784619489055,
 207.0: 3.058168242582695,
 467.0: 3.0578147088541816,
 709.0: 3.0567774541953803,
 647.0: 3.0561321317773924,
 566.0: 3.0554462116058816,
 750.0: 3.055020281460043,
 273.0: 3.0549113100432184,
 1007.0: 3.054327933968842,
 491.0: 3.05392060900165,
 128.0: 3.0537162879437916,
 250.0: 3.05365437448519,
 1019.0: 3.0533494001377335,
 166.0: 3.0532502438321516,
 58.0: 3.0516265877485975,
 462.0: 3.0515566922751654,
 171.0: 3.0499302279650853,
 615.0: 3.0492153207675945,
 432.0: 3.0489145710280354,
 347.0: 3.0488829198843455,
 93.0: 3.048546648126164,
 59.0: 3.048509564253365,
 248.0: 3.048415141739287,
 463.0: 3.047790055296744,
 660.0: 3.0460770316371,
 47.0: 3.045620132824682,
 262.0: 3.0448116359383612,
 493.0: 3.0443326721831085,
 425.0: 3.043933417399797,
 919.0: 3.0438116848411227,
 92.0: 3.0432418129056007,
 201.0: 3.0422351336058564,
 14.0: 3.0419938123627994,
 1012.0: 3.0403555389714345,
 710.0: 3.039820075984044,
 147.0: 3.039723972146732,
 794.0: 3.039206926478453,
 469.0: 3.0386526260191284,
 507.0: 3.037464554839527,
 607.0: 3.0369238663717444,
 492.0: 3.0361356232683896,
 658.0: 3.0358275391287255,
 837.0: 3.034923842761472,
 966.0: 3.0345274387523276,
 45.0: 3.034150082150316,
 792.0: 3.0330773897430827,
 241.0: 3.0329703775204266,
 310.0: 3.032374244042375,
 152.0: 3.031931502655599,
 165.0: 3.031193723075587,
 481.0: 3.0304636079767593,
 494.0: 3.0301975020024954,
 420.0: 3.029964118664052,
 251.0: 3.028203693918261,
 189.0: 3.027265445812174,
 447.0: 3.026902449195184,
 1016.0: 3.0261555434415146,
 969.0: 3.0261013837712087,
 161.0: 3.025794747291815,
 736.0: 3.025082668072977,
 70.0: 3.024725924227747,
 644.0: 3.024291394049731,
 614.0: 3.0239684770483315,
 959.0: 3.0225294285983098,
 641.0: 3.0211856278206715,
 499.0: 3.019544245674011,
 606.0: 3.0192811264906596,
 434.0: 3.017841914568944,
 303.0: 3.0176919697822364,
 653.0: 3.017117146163805,
 445.0: 3.0161372919330263,
 589.0: 3.0159270099658975,
 612.0: 3.0158168555380733,
 436.0: 3.0149117683423086,
 648.0: 3.014469818683516,
 219.0: 3.014436036076585,
 601.0: 3.0140614438110824,
 516.0: 3.013291900370049,
 915.0: 3.0130550512356056,
 213.0: 3.012439633256415,
 500.0: 3.0123200318943084,
 109.0: 3.012239149446312,
 634.0: 3.0120505285915473,
 1142.0: 3.010930303263862,
 502.0: 3.0107001648693483,
 297.0: 3.0104943296412148,
 340.0: 3.0100703278330165,
 686.0: 3.009401666097092,
 633.0: 3.009021263316391,
 486.0: 3.0060588676038766,
 448.0: 3.0059163580987924,
 66.0: 3.0046204388138045,
 418.0: 3.004238000094612,
 328.0: 3.00412967306258,
 1134.0: 3.003729693643688,
 1010.0: 3.003543080245766,
 1020.0: 3.0029937548323553,
 501.0: 3.0029470488308143,
 673.0: 3.0028954766492757,
 116.0: 3.002630334620123,
 1218.0: 3.002592747065202,
 489.0: 3.00259246098226,
 936.0: 2.99903894910544,
 887.0: 2.998351070183796,
 490.0: 2.9976231406211706,
 611.0: 2.9976165452104078,
 221.0: 2.9975785127007923,
 924.0: 2.997019016110798,
 319.0: 2.996601694799722,
 514.0: 2.99640092236916,
 1240.0: 2.995864174170789,
 608.0: 2.9946110833632797,
 968.0: 2.9938478123468713,
 307.0: 2.993318403953611,
 51.0: 2.993214017227871,
 751.0: 2.993019803097424,
 1194.0: 2.992453852106152,
 896.0: 2.9921070472051183,
 942.0: 2.991830470315035,
 923.0: 2.9916557373868913,
 414.0: 2.9913446685557994,
 853.0: 2.9910454569095024,
 613.0: 2.99093988333542,
 847.0: 2.9908464687478435,
 236.0: 2.9905086120081155,
 1169.0: 2.9901837794259145,
 729.0: 2.9897966188268246,
 1143.0: 2.9896855612991744,
 1147.0: 2.989058764053182,
 115.0: 2.988651728520631,
 218.0: 2.9885013143764962,
 30.0: 2.988474039107801,
 1189.0: 2.9881611344338093,
 270.0: 2.9880299691495704,
 24.0: 2.9879315696023507,
 13.0: 2.9877578104570675,
 690.0: 2.987121375023913,
 646.0: 2.9870380748059855,
 65.0: 2.9869778149536184,
 632.0: 2.986948433282335,
 778.0: 2.9862997217197864,
 707.0: 2.98612032427107,
 487.0: 2.984895063019439,
 900.0: 2.9848158799883175,
 628.0: 2.984635565961277,
 304.0: 2.9844140085131534,
 724.0: 2.984379923443415,
 625.0: 2.984280753894131,
 88.0: 2.984260478945835,
 331.0: 2.984221900728329,
 471.0: 2.9839322699281805,
 718.0: 2.9837292679868987,
 1269.0: 2.98354297986735,
 320.0: 2.98350473532632,
 295.0: 2.9833566119298616,
 727.0: 2.9829355991606814,
 381.0: 2.9826693591985673,
 1101.0: 2.982626203009295,
 1467.0: 2.982592836137281,
 503.0: 2.9822293323003493,
 534.0: 2.981351124580953,
 1226.0: 2.9811176824609174,
 902.0: 2.979932510320465,
 741.0: 2.9798721781048982,
 582.0: 2.979777990574123,
 953.0: 2.979763812965343,
 354.0: 2.9797039849261164,
 1152.0: 2.9792898912440173,
 793.0: 2.979233890943764,
 214.0: 2.979191899341434,
 1119.0: 2.978542036486505,
 226.0: 2.978157556740559,
 392.0: 2.978115305819548,
 762.0: 2.977948113857419,
 1516.0: 2.97786049965711,
 466.0: 2.9778524035796807,
 1022.0: 2.97783053400993,
 645.0: 2.9778210313925597,
 522.0: 2.9776253704392377,
 372.0: 2.977174613486381,
 699.0: 2.9770707494288398,
 367.0: 2.976927080824456,
 733.0: 2.976656607093896,
 770.0: 2.976240953725947,
 1594.0: 2.9758162215374173,
 291.0: 2.9757569133008093,
 1070.0: 2.9755632977587614,
 691.0: 2.975495816236393,
 495.0: 2.975358131354387,
 75.0: 2.975357723255732,
 596.0: 2.975255919811693,
 909.0: 2.9750902182674213,
 356.0: 2.975083428914777,
 76.0: 2.9749307706700887,
 813.0: 2.9749240027774557,
 1473.0: 2.974889885485132,
 848.0: 2.9745603058437986,
 814.0: 2.974532736226491,
 868.0: 2.974532736226491,
 91.0: 2.974406039854817,
 1098.0: 2.9742770229076694,
 1172.0: 2.9742680712478298,
 863.0: 2.9741090336231957,
 19.0: 2.9738837919565975,
 867.0: 2.9737345973739955,
 1131.0: 2.9734349850787445,
 1187.0: 2.973396192230716,
 306.0: 2.973094930003839,
 1554.0: 2.9730228216523034,
 604.0: 2.97230205956977,
 656.0: 2.9722817382754365,
 1286.0: 2.9721929189566723,
 1301.0: 2.971311996346728,
 68.0: 2.971043631242006,
 954.0: 2.970786065082702,
 1121.0: 2.9705003626226882,
 754.0: 2.9703925165581544,
 856.0: 2.9700021470235014,
 836.0: 2.9698715507301934,
 730.0: 2.9693951033424835,
 649.0: 2.969356435253447,
 1643.0: 2.969145619102647,
 1262.0: 2.9689606617337243,
 549.0: 2.9689538003816422,
 345.0: 2.9688581146874853,
 1664.0: 2.9687101501850766,
 1268.0: 2.9685402424395915,
 1192.0: 2.9682438199751573,
 33.0: 2.968164344266199,
 113.0: 2.9681295556273053,
 101.0: 2.967900463191304,
 993.0: 2.967870423681102,
 300.0: 2.9678393416425544,
 1313.0: 2.9676268208437473,
 1216.0: 2.9675871614936487,
 1482.0: 2.967400823933783,
 255.0: 2.9673927772692132,
 701.0: 2.967301323921743,
 119.0: 2.966966340660663,
 638.0: 2.9667771374833087,
 60.0: 2.966542829710715,
 1368.0: 2.9664396494244047,
 811.0: 2.9659122827308013,
 163.0: 2.9654833348670735,
 271.0: 2.9652216476983635,
 1623.0: 2.9650984480069797,
 1137.0: 2.965072205648148,
 992.0: 2.964846880600098,
 1550.0: 2.9647990547284953,
 806.0: 2.9647904994070315,
 1463.0: 2.9644097361896837,
 1446.0: 2.964391438336832,
 277.0: 2.964291562416444,
 1278.0: 2.964282076839394,
 630.0: 2.9642473386002433,
 1103.0: 2.964155798217719,
 1111.0: 2.96409217521737,
 1333.0: 2.9638836252712473,
 1514.0: 2.96379874516564,
 1124.0: 2.9637092002661927,
 1375.0: 2.963668955921334,
 1153.0: 2.96351282402726,
 279.0: 2.9634881195713176,
 626.0: 2.963430088029828,
 1485.0: 2.9633284241808275,
 947.0: 2.963284130306178,
 945.0: 2.9632606771749637,
 1642.0: 2.9630841080226893,
 1639.0: 2.9630841080226893,
 1636.0: 2.9630841080226893,
 1645.0: 2.9630841080226893,
 296.0: 2.9630841080226893,
 1651.0: 2.9630841080226893,
 1650.0: 2.9630841080226893,
 126.0: 2.963049653899611,
 1075.0: 2.9630427779343194,
 485.0: 2.9628054379662365,
 1589.0: 2.9626445278771327,
 1174.0: 2.96257645910173,
 883.0: 2.9624512693375356,
 360.0: 2.962330066413948,
 1005.0: 2.9622994564575227,
 242.0: 2.9622864347897866,
 1129.0: 2.962219202325764,
 1114.0: 2.962200747140466,
 224.0: 2.9621522308273334,
 618.0: 2.9618707683526515,
 1397.0: 2.9618553478041902,
 1398.0: 2.961688792124923,
 1451.0: 2.9616445540070138,
 1505.0: 2.9613164442370095,
 1056.0: 2.961117533183339,
 1525.0: 2.9610453593731916,
 1264.0: 2.9609444767299316,
 1065.0: 2.9608951302162896,
 1149.0: 2.9608799596109026,
 906.0: 2.9608081829954602,
 1186.0: 2.9607347895755822,
 1486.0: 2.960696503340493,
 1494.0: 2.960696503340493,
 1493.0: 2.960696503340493,
 57.0: 2.960661321588772,
 956.0: 2.9604787418423637,
 393.0: 2.9604428431235594,
 1380.0: 2.960378138344446,
 421.0: 2.960328061130543,
 850.0: 2.9602833714149774,
 1452.0: 2.9601773075346514,
 1458.0: 2.9601773075346514,
 1064.0: 2.9601773075346514,
 1223.0: 2.9601719847441337,
 230.0: 2.9601256291785614,
 1396.0: 2.959975246513269,
 1105.0: 2.959763168884294,
 593.0: 2.959744693146273,
 1298.0: 2.959669074428252,
 459.0: 2.9595442807220755,
 805.0: 2.959351371030078,
 1597.0: 2.95921560062497,
 1468.0: 2.9591985101752556,
 1449.0: 2.958820900078799,
 1495.0: 2.958814396975537,
 872.0: 2.958564987063903,
 1497.0: 2.9585646458272628,
 543.0: 2.958436925957798,
 362.0: 2.9583959691599975,
 1537.0: 2.9583389914719227,
 587.0: 2.9583219878888105,
 766.0: 2.9580576069757147,
 927.0: 2.9580288198973395,
 1242.0: 2.9579905336622496,
 1631.0: 2.957955202402557,
 1418.0: 2.9579448540692765,
 844.0: 2.9579426229340555,
 1316.0: 2.9575817851836472,
 602.0: 2.957517865383964,
 914.0: 2.95745823468215,
 1312.0: 2.957351415830504,
 1466.0: 2.957301307552567,
 917.0: 2.957286456668761,
 1483.0: 2.9572761996879513,
 529.0: 2.9572353109451313,
 332.0: 2.9571680775255587,
 789.0: 2.9571564506284482,
 1515.0: 2.9571402059017955,
 1607.0: 2.9570225969427306,
 1630.0: 2.9570225969427306,
 1605.0: 2.9570225969427306,
 1602.0: 2.9570225969427306,
 1600.0: 2.9570225969427306,
 935.0: 2.9570225969427306,
 1632.0: 2.9570225969427306,
 1633.0: 2.9570225969427306,
 1637.0: 2.9570225969427306,
 1638.0: 2.9570225969427306,
 1640.0: 2.9570225969427306,
 1641.0: 2.9570225969427306,
 1646.0: 2.9570225969427306,
 1647.0: 2.9570225969427306,
 1649.0: 2.9570225969427306,
 1635.0: 2.9570225969427306,
 1155.0: 2.9570225969427306,
 1257.0: 2.9570225969427306,
 1256.0: 2.9570225969427306,
 1233.0: 2.9570225969427306,
 1403.0: 2.9570225969427306,
 1144.0: 2.9570225969427306,
 694.0: 2.956977804230588,
 1024.0: 2.956977463251833,
 600.0: 2.9568597340523923,
 1681.0: 2.956762270014549,
 1541.0: 2.956686839738951,
 1543.0: 2.956686839738951,
 1196.0: 2.9566433711863254,
 621.0: 2.956486193993669,
 1356.0: 2.9563309672487788,
 971.0: 2.9562989746997625,
 1068.0: 2.956103935913845,
 550.0: 2.956084911903881,
 1657.0: 2.9560660025276406,
 1538.0: 2.9559600896091562,
 1460.0: 2.955944878879619,
 1457.0: 2.955944878879619,
 1450.0: 2.955944878879619,
 1447.0: 2.955944878879619,
 617.0: 2.9557055609491045,
 857.0: 2.9555393359578908,
 1361.0: 2.955451474451086,
 835.0: 2.9554337034384415,
 488.0: 2.955421107359143,
 1379.0: 2.955282903791763,
 1498.0: 2.9550976540039304,
 1492.0: 2.9550976540039304,
 822.0: 2.9550854931917914,
 1123.0: 2.9549965613970315,
 662.0: 2.9549955718433836,
 344.0: 2.954882443426284,
 1204.0: 2.954706589812998,
 1585.0: 2.9545828752466483,
 267.0: 2.95458241721474,
 886.0: 2.9545033954361593,
 1627.0: 2.9544898247138707,
 995.0: 2.9544219347644094,
 1193.0: 2.954346557646213,
 1395.0: 2.9543166272644883,
 1370.0: 2.9543166272644883,
 359.0: 2.9543166272644883,
 1255.0: 2.9543166272644883,
 1378.0: 2.9543166272644883,
 1344.0: 2.9543166272644883,
 1388.0: 2.9543166272644883,
 1410.0: 2.954302715635073,
 1682.0: 2.954274807079466,
 851.0: 2.9541971071035995,
 537.0: 2.9541056778816928,
 1629.0: 2.9540621692854505,
 1173.0: 2.9540373154504955,
 1393.0: 2.953980870060709,
 815.0: 2.9538487884103724,
 61.0: 2.9538214815312585,
 249.0: 2.9538121527176657,
 1504.0: 2.953664439728307,
 1277.0: 2.95355368426559,
 1211.0: 2.9534844076205307,
 1542.0: 2.9534553307316913,
 842.0: 2.953448434794387,
 1501.0: 2.9534416517281987,
 1369.0: 2.9532389092013767,
 1330.0: 2.9532389092013767,
 1500.0: 2.953231370891743,
 1491.0: 2.953231370891743,
 524.0: 2.953200155191162,
 1280.0: 2.9531261178116224,
 1117.0: 2.953111307879473,
 1445.0: 2.953054588921623,
 605.0: 2.953023709346392,
 884.0: 2.9529545692032357,
 416.0: 2.952936163981819,
 512.0: 2.9529018865699554,
 1294.0: 2.9528393750663025,
 970.0: 2.9525288903141735,
 1275.0: 2.9524758937680944,
 1038.0: 2.9524036189485052,
 1321.0: 2.9523916843256877,
 1199.0: 2.952253838759933,
 1100.0: 2.9522376536612587,
 1456.0: 2.952090322520201,
 1591.0: 2.9520742835915628,
 980.0: 2.9520408188798584,
 1008.0: 2.951948345701401,
 973.0: 2.951778321138466,
 1443.0: 2.951774358584063,
 1553.0: 2.9517540324154266,
 753.0: 2.9517503825451095,
 1448.0: 2.9517289914763905,
 1455.0: 2.951712450224587,
 1461.0: 2.951712450224587,
 1453.0: 2.951712450224587,
 1021.0: 2.95164969602097,
 882.0: 2.9514619920667173,
 389.0: 2.951381196097643,
 337.0: 2.9511801168105314,
 1524.0: 2.9511407517480923,
 1506.0: 2.951015782578629,
 1202.0: 2.950980044097886,
 1648.0: 2.950961085862773,
 1532.0: 2.950961085862773,
 1465.0: 2.950961085862773,
 1436.0: 2.950961085862773,
 1634.0: 2.950961085862773,
 1238.0: 2.950961085862773,
 903.0: 2.9509415946957827,
 327.0: 2.9509203788106455,
 1628.0: 2.9508187814723144,
 1406.0: 2.9507517193680957,
 666.0: 2.950723606602857,
 1195.0: 2.950468533533794,
 73.0: 2.950451823517669,
 870.0: 2.950442237922766,
 594.0: 2.9502892104113907,
 939.0: 2.95026810385493,
 1017.0: 2.9502244698937368,
 1510.0: 2.9501091597397244,
 1176.0: 2.9499472138779965,
 1053.0: 2.949857454745649,
 86.0: 2.94977191971048,
 639.0: 2.9495174594852,
 1261.0: 2.949430966835036,
 1335.0: 2.949344174404061,
 309.0: 2.9491896501019195,
 957.0: 2.9491106000137877,
 1198.0: 2.9491002945925864,
 1454.0: 2.9488773846965675,
 1279.0: 2.9488685528791936,
 305.0: 2.9487955240337596,
 1067.0: 2.9487586015944878,
 1220.0: 2.9487279301957963,
 1459.0: 2.9486741013335553,
 1527.0: 2.948652781248576,
 1062.0: 2.9485213641666896,
 1578.0: 2.9485213641666896,
 1484.0: 2.948462704340077,
 1171.0: 2.948414324054234,
 643.0: 2.9483585012763522,
 1128.0: 2.9483401260735334,
 1084.0: 2.9482264270818823,
 1082.0: 2.9482136176084452,
 1487.0: 2.9481077182179907,
 854.0: 2.948088550635202,
 146.0: 2.9480751528332427,
 326.0: 2.9479339981715422,
 1146.0: 2.9479276417220865,
 703.0: 2.9478195482309726,
 557.0: 2.9477101880357175,
 1055.0: 2.9475208403834543,
 533.0: 2.9473587479541923,
 961.0: 2.9472596314630946,
 889.0: 2.947173509341514,
 580.0: 2.947149108307281,
 468.0: 2.947112184943265,
 1603.0: 2.9470797921725915,
 348.0: 2.947042419225396,
 757.0: 2.9470381031818498,
 861.0: 2.9468957987913913,
 1462.0: 2.946837111566836,

In [28]:
# Formating the dataFrame by assigning the column names
avgMovieRatings_df = pd.DataFrame(avgMovieRatings.items())
avgMovieRatings_df = pd.DataFrame(avgMovieRatings.items(), columns = ['movieId', 'group_ratings'])
avgMovieRatings_df

      movieId  group_ratings
0        50.0       4.112625
1       174.0       4.032829
2       172.0       3.947562
3        98.0       3.925296
4        64.0       3.908860
...       ...            ...
1481    546.0       2.538983
1482    122.0       2.530923
1483    931.0       2.524667
1484    231.0       2.504997
1485     29.0       2.426262

[1486 rows x 2 columns]

In [29]:
## Calculating the least misery dictionary for group of three users: - UserA, UserB, UserC
leastMiseryRatings = {}
for i in range(0, len(uCombined_df)-1):
    min_val = int(min(uCombined_df.iloc[i]['weighted average recommendation score_x'], uCombined_df.iloc[i]['weighted average recommendation score_y'], uCombined_df.iloc[i]['weighted average recommendation score']))
    tempDict1 = {uCombined_df.iloc[i]['movieId']: min_val}
    leastMiseryRatings.update(tempDict1)
    
leastMiseryRatings = dict(sorted(leastMiseryRatings.items(), key=lambda item: item[1], reverse= True))
leastMiseryRatings

{50.0: 3,
 174.0: 3,
 172.0: 2,
 64.0: 2,
 98.0: 2,
 181.0: 2,
 12.0: 2,
 127.0: 2,
 173.0: 2,
 22.0: 2,
 318.0: 2,
 79.0: 2,
 96.0: 2,
 168.0: 2,
 191.0: 2,
 357.0: 2,
 204.0: 2,
 483.0: 2,
 100.0: 2,
 56.0: 2,
 496.0: 2,
 183.0: 2,
 195.0: 2,
 176.0: 2,
 144.0: 2,
 69.0: 2,
 651.0: 2,
 603.0: 2,
 186.0: 2,
 28.0: 2,
 185.0: 2,
 187.0: 2,
 423.0: 2,
 89.0: 2,
 199.0: 2,
 210.0: 2,
 194.0: 2,
 1.0: 2,
 196.0: 2,
 427.0: 2,
 234.0: 2,
 655.0: 2,
 511.0: 2,
 313.0: 2,
 223.0: 2,
 132.0: 2,
 216.0: 2,
 180.0: 2,
 208.0: 2,
 202.0: 2,
 7.0: 2,
 82.0: 2,
 215.0: 2,
 8.0: 2,
 11.0: 2,
 265.0: 2,
 134.0: 2,
 153.0: 2,
 484.0: 2,
 657.0: 2,
 474.0: 2,
 480.0: 2,
 9.0: 2,
 527.0: 2,
 211.0: 2,
 228.0: 2,
 83.0: 2,
 520.0: 2,
 479.0: 2,
 203.0: 2,
 182.0: 2,
 435.0: 2,
 97.0: 2,
 71.0: 2,
 588.0: 2,
 193.0: 2,
 258.0: 2,
 531.0: 2,
 526.0: 2,
 42.0: 2,
 385.0: 2,
 302.0: 2,
 272.0: 2,
 238.0: 2,
 87.0: 2,
 151.0: 2,
 197.0: 2,
 200.0: 2,
 143.0: 2,
 135.0: 2,
 178.0: 2,
 156.0: 2,
 95.0: 2,
 124.0: 2,
 268.0: 2,
 237.0: 2,
 169.0: 2,
 179.0: 2,
 190.0: 2,
 746.0: 2,
 404.0: 2,
 705.0: 2,
 170.0: 2,
 205.0: 2,
 222.0: 2,
 515.0: 2,
 198.0: 2,
 732.0: 2,
 498.0: 2,
 684.0: 2,
 523.0: 2,
 192.0: 2,
 150.0: 2,
 157.0: 2,
 735.0: 2,
 443.0: 2,
 209.0: 2,
 99.0: 2,
 317.0: 2,
 478.0: 2,
 246.0: 2,
 482.0: 2,
 275.0: 2,
 298.0: 2,
 654.0: 2,
 568.0: 2,
 154.0: 2,
 188.0: 2,
 530.0: 2,
 276.0: 2,
 23.0: 2,
 419.0: 2,
 293.0: 2,
 429.0: 2,
 510.0: 2,
 1039.0: 2,
 431.0: 2,
 55.0: 2,
 528.0: 2,
 48.0: 2,
 521.0: 2,
 661.0: 2,
 136.0: 2,
 663.0: 2,
 692.0: 2,
 133.0: 2,
 315.0: 2,
 316.0: 2,
 333.0: 2,
 70.0: 2,
 137.0: 2,
 408.0: 2,
 660.0: 2,
 15.0: 2,
 509.0: 2,
 164.0: 2,
 286.0: 1,
 525.0: 1,
 177.0: 1,
 475.0: 1,
 239.0: 1,
 378.0: 1,
 117.0: 1,
 463.0: 1,
 508.0: 1,
 4.0: 1,
 493.0: 1,
 693.0: 1,
 506.0: 1,
 1007.0: 1,
 31.0: 1,
 184.0: 1,
 462.0: 1,
 248.0: 1,
 257.0: 1,
 742.0: 1,
 428.0: 1,
 269.0: 1,
 207.0: 1,
 519.0: 1,
 430.0: 1,
 403.0: 1,
 147.0: 1,
 47.0: 1,
 129.0: 1,
 114.0: 1,
 518.0: 1,
 659.0: 1,
 497.0: 1,
 505.0: 1,
 919.0: 1,
 14.0: 1,
 288.0: 1,
 93.0: 1,
 709.0: 1,
 658.0: 1,
 837.0: 1,
 347.0: 1,
 504.0: 1,
 647.0: 1,
 614.0: 1,
 615.0: 1,
 794.0: 1,
 513.0: 1,
 750.0: 1,
 792.0: 1,
 319.0: 1,
 481.0: 1,
 152.0: 1,
 502.0: 1,
 166.0: 1,
 1240.0: 1,
 607.0: 1,
 963.0: 1,
 236.0: 1,
 1073.0: 1,
 491.0: 1,
 492.0: 1,
 959.0: 1,
 601.0: 1,
 52.0: 1,
 469.0: 1,
 346.0: 1,
 219.0: 1,
 486.0: 1,
 727.0: 1,
 494.0: 1,
 710.0: 1,
 251.0: 1,
 507.0: 1,
 969.0: 1,
 1019.0: 1,
 499.0: 1,
 634.0: 1,
 213.0: 1,
 414.0: 1,
 966.0: 1,
 128.0: 1,
 241.0: 1,
 58.0: 1,
 648.0: 1,
 262.0: 1,
 201.0: 1,
 271.0: 1,
 566.0: 1,
 1016.0: 1,
 340.0: 1,
 101.0: 1,
 1063.0: 1,
 653.0: 1,
 250.0: 1,
 736.0: 1,
 652.0: 1,
 516.0: 1,
 175.0: 1,
 165.0: 1,
 467.0: 1,
 485.0: 1,
 381.0: 1,
 125.0: 1,
 59.0: 1,
 92.0: 1,
 751.0: 1,
 606.0: 1,
 707.0: 1,
 131.0: 1,
 116.0: 1,
 451.0: 1,
 432.0: 1,
 641.0: 1,
 1142.0: 1,
 328.0: 1,
 425.0: 1,
 501.0: 1,
 24.0: 1,
 109.0: 1,
 591.0: 1,
 255.0: 1,
 612.0: 1,
 434.0: 1,
 1134.0: 1,
 171.0: 1,
 303.0: 1,
 644.0: 1,
 770.0: 1,
 915.0: 1,
 45.0: 1,
 88.0: 1,
 218.0: 1,
 285.0: 1,
 490.0: 1,
 968.0: 1,
 291.0: 1,
 1012.0: 1,
 226.0: 1,
 372.0: 1,
 613.0: 1,
 1226.0: 1,
 310.0: 1,
 495.0: 1,
 420.0: 1,
 292.0: 1,
 739.0: 1,
 163.0: 1,
 793.0: 1,
 445.0: 1,
 65.0: 1,
 489.0: 1,
 942.0: 1,
 534.0: 1,
 754.0: 1,
 487.0: 1,
 936.0: 1,
 470.0: 1,
 354.0: 1,
 923.0: 1,
 277.0: 1,
 249.0: 1,
 733.0: 1,
 77.0: 1,
 853.0: 1,
 1169.0: 1,
 273.0: 1,
 1269.0: 1,
 367.0: 1,
 596.0: 1,
 887.0: 1,
 447.0: 1,
 304.0: 1,
 297.0: 1,
 686.0: 1,
 500.0: 1,
 1194.0: 1,
 436.0: 1,
 33.0: 1,
 1147.0: 1,
 550.0: 1,
 633.0: 1,
 825.0: 1,
 608.0: 1,
 331.0: 1,
 448.0: 1,
 729.0: 1,
 19.0: 1,
 589.0: 1,
 1467.0: 1,
 649.0: 1,
 532.0: 1,
 699.0: 1,
 460.0: 1,
 1153.0: 1,
 1275.0: 1,
 863.0: 1,
 1020.0: 1,
 584.0: 1,
 224.0: 1,
 433.0: 1,
 267.0: 1,
 66.0: 1,
 30.0: 1,
 326.0: 1,
 307.0: 1,
 1278.0: 1,
 662.0: 1,
 847.0: 1,
 611.0: 1,
 1286.0: 1,
 121.0: 1,
 1121.0: 1,
 909.0: 1,
 718.0: 1,
 814.0: 1,
 868.0: 1,
 730.0: 1,
 628.0: 1,
 691.0: 1,
 1516.0: 1,
 580.0: 1,
 1172.0: 1,
 1189.0: 1,
 1594.0: 1,
 162.0: 1,
 848.0: 1,
 956.0: 1,
 1174.0: 1,
 1010.0: 1,
 1664.0: 1,
 900.0: 1,
 1085.0: 1,
 762.0: 1,
 638.0: 1,
 1473.0: 1,
 1268.0: 1,
 295.0: 1,
 724.0: 1,
 1301.0: 1,
 632.0: 1,
 626.0: 1,
 362.0: 1,
 1152.0: 1,
 1216.0: 1,
 836.0: 1,
 345.0: 1,
 57.0: 1,
 1280.0: 1,
 953.0: 1,
 1265.0: 1,
 593.0: 1,
 1192.0: 1,
 1038.0: 1,
 1316.0: 1,
 805.0: 1,
 778.0: 1,
 1375.0: 1,
 1187.0: 1,
 1277.0: 1,
 1195.0: 1,
 883.0: 1,
 1111.0: 1,
 279.0: 1,
 646.0: 1,
 1128.0: 1,
 980.0: 1,
 1496.0: 1,
 895.0: 1,
 320.0: 1,
 902.0: 1,
 813.0: 1,
 91.0: 1,
 1486.0: 1,
 1494.0: 1,
 1493.0: 1,
 1242.0: 1,
 522.0: 1,
 1589.0: 1,
 604.0: 1,
 1468.0: 1,
 75.0: 1,
 514.0: 1,
 896.0: 1,
 971.0: 1,
 690.0: 1,
 621.0: 1,
 865.0: 1,
 1294.0: 1,
 1100.0: 1,
 126.0: 1,
 625.0: 1,
 741.0: 1,
 1482.0: 1,
 214.0: 1,
 1105.0: 1,
 503.0: 1,
 1591.0: 1,
 1193.0: 1,
 618.0: 1,
 360.0: 1,
 673.0: 1,
 947.0: 1,
 1298.0: 1,
 1131.0: 1,
 993.0: 1,
 1487.0: 1,
 305.0: 1,
 1283.0: 1,
 557.0: 1,
 1446.0: 1,
 645.0: 1,
 1333.0: 1,
 1398.0: 1,
 1451.0: 1,
 587.0: 1,
 582.0: 1,
 666.0: 1,
 992.0: 1,
 1022.0: 1,
 115.0: 1,
 850.0: 1,
 656.0: 1,
 917.0: 1,
 334.0: 1,
 1497.0: 1,
 753.0: 1,
 1495.0: 1,
 459.0: 1,
 1075.0: 1,
 1203.0: 1,
 1485.0: 1,
 76.0: 1,
 1098.0: 1,
 1505.0: 1,
 867.0: 1,
 1108.0: 1,
 1262.0: 1,
 1223.0: 1,
 1143.0: 1,
 1279.0: 1,
 1643.0: 1,
 1368.0: 1,
 1463.0: 1,
 1056.0: 1,
 1137.0: 1,
 282.0: 1,
 68.0: 1,
 1312.0: 1,
 1199.0: 1,
 806.0: 1,
 701.0: 1,
 1068.0: 1,
 884.0: 1,
 1313.0: 1,
 766.0: 1,
 957.0: 1,
 1204.0: 1,
 1445.0: 1,
 970.0: 1,
 1379.0: 1,
 1264.0: 1,
 1101.0: 1,
 1501.0: 1,
 1642.0: 1,
 1585.0: 1,
 1639.0: 1,
 1636.0: 1,
 1645.0: 1,
 1623.0: 1,
 296.0: 1,
 1380.0: 1,
 1651.0: 1,
 1650.0: 1,
 927.0: 1,
 1186.0: 1,
 1525.0: 1,
 1452.0: 1,
 1458.0: 1,
 1064.0: 1,
 1553.0: 1,
 1218.0: 1,
 161.0: 1,
 1162.0: 1,
 1484.0: 1,
 1504.0: 1,
 1124.0: 1,
 1261.0: 1,
 1537.0: 1,
 749.0: 1,
 1198.0: 1,
 881.0: 1,
 639.0: 1,
 309.0: 1,
 1173.0: 1,
 1322.0: 1,
 886.0: 1,
 332.0: 1,
 600.0: 1,
 643.0: 1,
 995.0: 1,
 1681.0: 1,
 1024.0: 1,
 1607.0: 1,
 1630.0: 1,
 1605.0: 1,
 1602.0: 1,
 1600.0: 1,
 935.0: 1,
 1632.0: 1,
 1633.0: 1,
 1082.0: 1,
 1637.0: 1,
 1062.0: 1,
 1638.0: 1,
 1640.0: 1,
 1641.0: 1,
 1646.0: 1,
 1647.0: 1,
 1649.0: 1,
 1635.0: 1,
 1395.0: 1,
 1155.0: 1,
 1356.0: 1,
 1370.0: 1,
 1319.0: 1,
 359.0: 1,
 1281.0: 1,
 1257.0: 1,
 1256.0: 1,
 1255.0: 1,
 1233.0: 1,
 1378.0: 1,
 1344.0: 1,
 1403.0: 1,
 1388.0: 1,
 1578.0: 1,
 1144.0: 1,
 1015.0: 1,
 1515.0: 1,
 1542.0: 1,
 1541.0: 1,
 1543.0: 1,
 1393.0: 1,
 1597.0: 1,
 920.0: 1,
 1460.0: 1,
 1369.0: 1,
 1457.0: 1,
 1330.0: 1,
 1450.0: 1,
 1447.0: 1,
 1538.0: 1,
 1396.0: 1,
 835.0: 1,
 1424.0: 1,
 594.0: 1,
 1657.0: 1,
 1483.0: 1,
 1682.0: 1,
 1196.0: 1,
 336.0: 1,
 263.0: 1,
 119.0: 1,
 757.0: 1,
 857.0: 1,
 308.0: 1,
 861.0: 1,
 1161.0: 1,
 1123.0: 1,
 1136.0: 1,
 1529.0: 1,
 86.0: 1,
 393.0: 1,
 1648.0: 1,
 1532.0: 1,
 1549.0: 1,
 1554.0: 1,
 1465.0: 1,
 1436.0: 1,
 1634.0: 1,
 1514.0: 1,
 1238.0: 1,
 1628.0: 1,
 1474.0: 1,
 1627.0: 1,
 973.0: 1,
 694.0: 1,
 342.0: 1,
 356.0: 1,
 906.0: 1,
 1211.0: 1,
 1397.0: 1,
 1200.0: 1,
 1455.0: 1,
 1461.0: 1,
 1453.0: 1,
 916.0: 1,
 1202.0: 1,
 610.0: 1,
 189.0: 1,
 602.0: 1,
 1114.0: 1,
 605.0: 1,
 221.0: 1,
 1402.0: 1,
 1065.0: 1,
 1531.0: 1,
 822.0: 1,
 1644.0: 1,
 1361.0: 1,
 1550.0: 1,
 1475.0: 1,
 1027.0: 1,
 1321.0: 1,
 1498.0: 1,
 1492.0: 1,
 1418.0: 1,
 113.0: 1,
 13.0: 1,
 306.0: 1,
 893.0: 1,
 811.0: 1,
 964.0: 1,
 961.0: 1,
 1287.0: 1,
 1148.0: 1,
 543.0: 1,
 1560.0: 1,
 1167.0: 1,
 278.0: 1,
 785.0: 1,
 461.0: 1,
 1018.0: 1,
 1070.0: 1,
 1466.0: 1,
 748.0: 1,
 1442.0: 1,
 592.0: 1,
 1315.0: 1,
 1477.0: 1,
 1476.0: 1,
 945.0: 1,
 1055.0: 1,
 1629.0: 1,
 918.0: 1,
 1409.0: 1,
 394.0: 1,
 1241.0: 1,
 1335.0: 1,
 51.0: 1,
 1435.0: 1,
 337.0: 1,
 1260.0: 1,
 870.0: 1,
 903.0: 1,
 1406.0: 1,
 882.0: 1,
 141.0: 1,
 416.0: 1,
 1300.0: 1,
 714.0: 1,
 954.0: 1,
 1400.0: 1,
 1146.0: 1,
 1454.0: 1,
 1510.0: 1,
 1603.0: 1,
 1149.0: 1,
 617.0: 1,
 1084.0: 1,
 1503.0: 1,
 1276.0: 1,
 537.0: 1,
 851.0: 1,
 958.0: 1,
 1420.0: 1,
 330.0: 1,
 1081.0: 1,
 146.0: 1,
 418.0: 1,
 1500.0: 1,
 1491.0: 1,
 1459.0: 1,
 1115.0: 1,
 983.0: 1,
 73.0: 1,
 111.0: 1,
 1043.0: 1,
 348.0: 1,
 341.0: 1,
 1631.0: 1,
 872.0: 1,
 967.0: 1,
 1488.0: 1,
 1266.0: 1,
 744.0: 1,
 1527.0: 1,
 1422.0: 1,
 1271.0: 1,
 1061.0: 1,
 1126.0: 1,
 910.0: 1,
 914.0: 1,
 1592.0: 1,
 1448.0: 1,
 1535.0: 1,
 1480.0: 1,
 1166.0: 1,
 1353.0: 1,
 1655.0: 1,
 329.0: 1,
 524.0: 1,
 1113.0: 1,
 921.0: 1,
 266.0: 1,
 533.0: 1,
 1168.0: 1,
 465.0: 1,
 1305.0: 1,
 677.0: 1,
 1490.0: 1,
 1141.0: 1,
 670.0: 1,
 1410.0: 1,
 1469.0: 1,
 1058.0: 1,
 339.0: 1,
 1002.0: 1,
 1479.0: 1,
 344.0: 1,
 876.0: 1,
 1220.0: 1,
 74.0: 1,
 1171.0: 1,
 1443.0: 1,
 889.0: 1,
 1506.0: 1,
 938.0: 1,
 680.0: 1,
 598.0: 1,
 529.0: 1,
 374.0: 1,
 1511.0: 1,
 1555.0: 1,
 366.0: 1,
 517.0: 1,
 1245.0: 1,
 1099.0: 1,
 1540.0: 1,
 1470.0: 1,
 924.0: 1,
 1404.0: 1,
 856.0: 1,
 1117.0: 1,
 10.0: 1,
 1620.0: 1,
 713.0: 1,
 444.0: 1,
 821.0: 1,
 854.0: 1,
 767.0: 1,
 1106.0: 1,
 468.0: 1,
 960.0: 1,
 981.0: 1,
 149.0: 1,
 1103.0: 1,
 1116.0: 1,
 911.0: 1,
 787.0: 1,
 1621.0: 1,
 1304.0: 1,
 1615.0: 1,
 1005.0: 1,
 1523.0: 1,
 1444.0: 1,
 703.0: 1,
 1299.0: 1,
 1011.0: 1,
 61.0: 1,
 1119.0: 1,
 1351.0: 1,
 1439.0: 1,
 1456.0: 1,
 1426.0: 1,
 1622.0: 1,
 1672.0: 1,
 547.0: 1,
 232.0: 1,
 1164.0: 1,
 609.0: 1,
 950.0: 1,
 538.0: 1,
 844.0: 1,
 1502.0: 1,
 922.0: 1,
 1285.0: 1,
 782.0: 1,
 996.0: 1,
 287.0: 1,
 913.0: 1,
 1608.0: 1,
 1205.0: 1,
 1067.0: 1,
 984.0: 1,
 905.0: 1,
 827.0: 1,
 1159.0: 1,
 1083.0: 1,
 789.0: 1,
 1449.0: 1,
 1324.0: 1,
 912.0: 1,
 1008.0: 1,
 1170.0: 1,
 1521.0: 1,
 817.0: 1,
 1355.0: 1,
 1247.0: 1,
 1545.0: 1,
 1050.0: 1,
 899.0: 1,
 650.0: 1,
 437.0: 1,
 891.0: 1,
 852.0: 1,
 838.0: 1,
 830.0: 1,
 788.0: 1,
 897.0: 1,
 907.0: 1,
 784.0: 1,
 439.0: 1,
 442.0: 1,
 839.0: 1,
 858.0: 1,
 270.0: 1,
 1438.0: 1,
 1129.0: 1,
 1181.0: 1,
 536.0: 1,
 471.0: 1,
 1072.0: 1,
 630.0: 1,
 1428.0: 1,
 885.0: 1,
 1154.0: 1,
 1025.0: 1,
 671.0: 1,
 389.0: 1,
 549.0: 1,
 978.0: 1,
 1462.0: 1,
 335.0: 1,
 454.0: 1,
 773.0: 1,
 256.0: 1,
 667.0: 1,
 1176.0: 1,
 828.0: 1,
 832.0: 1,
 991.0: 1,
 1059.0: 1,
 1160.0: 1,
 1441.0: 1,
 1212.0: 1,
 1552.0: 1,
 34.0: 1,
 989.0: 1,
 349.0: 1,
 874.0: 1,
 1051.0: 1,
 747.0: 1,
 888.0: 1,
 392.0: 1,
 799.0: 1,
 1626.0: 1,
 311.0: 1,
 1440.0: 1,
 1197.0: 1,
 1004.0: 1,
 990.0: 1,
 1423.0: 1,
 943.0: 1,
 965.0: 1,
 1158.0: 1,
 904.0: 1,
 1252.0: 1,
 16.0: 1,
 939.0: 1,
 925.0: 1,
 1003.0: 1,
 776.0: 1,
 620.0: 1,
 1311.0: 1,
 1053.0: 1,
 622.0: 1,
 1427.0: 1,
 1314.0: 1,
 1416.0: 1,
 1401.0: 1,
 1284.0: 1,
 1296.0: 1,
 581.0: 1,
 466.0: 1,
 390.0: 1,
 1282.0: 1,
 1151.0: 1,
 894.0: 1,
 327.0: 1,
 81.0: 1,
 1118.0: 1,
 314.0: 1,
 1517.0: 1,
 999.0: 1,
 1107.0: 1,
 1031.0: 1,
 1522.0: 1,
 1524.0: 1,
 986.0: 1,
 1001.0: 1,
 233.0: 1,
 1009.0: 1,
 242.0: 1,
 1512.0: 1,
 1539.0: 1,
 745.0: 1,
 351.0: 1,
 815.0: 1,
 1180.0: 1,
 548.0: 1,
 1499.0: 1,
 877.0: 1,
 1184.0: 1,
 937.0: 1,
 18.0: 1,
 1077.0: 1,
 405.0: 1,
 752.0: 1,
 1132.0: 1,
 6.0: 1,
 842.0: 1,
 464.0: 1,
 ...}

In [30]:
# Formating the dataFrame by assigning the column names
leastMiseryRatings_df = pd.DataFrame(leastMiseryRatings.items())
leastMiseryRatings_df = pd.DataFrame(leastMiseryRatings.items(), columns = ['movieId', 'group_ratings'])
leastMiseryRatings_df

      movieId  group_ratings
0        50.0              3
1       174.0              3
2       172.0              2
3        64.0              2
4        98.0              2
...       ...            ...
1481    450.0              1
1482    395.0              1
1483    231.0              1
1484    546.0              1
1485     29.0              1

[1486 rows x 2 columns]

In [31]:
## Top 20 Recommendations for the Group of users (UserA, UserB, UserC) by the score of Average Aggregration
dmovies.loc[dmovies['movieId'].isin(avgMovieRatings_df.head(20)['movieId'].tolist())]

     movieId                                   title
11        12              Usual Suspects, The (1995)
21        22                       Braveheart (1995)
49        50                        Star Wars (1977)
55        56                     Pulp Fiction (1994)
63        64        Shawshank Redemption, The (1994)
78        79                    Fugitive, The (1993)
95        96       Terminator 2: Judgment Day (1991)
97        98        Silence of the Lambs, The (1991)
99       100                            Fargo (1996)
126      127                   Godfather, The (1972)
167      168  Monty Python and the Holy Grail (1974)
171      172         Empire Strikes Back, The (1980)
172      173              Princess Bride, The (1987)
173      174          Raiders of the Lost Ark (1981)
175      176                           Aliens (1986)
180      181               Return of the Jedi (1983)
182      183                            Alien (1979)
190      191                          Amadeus (1984)
194      195                  Terminator, The (1984)
317      318                 Schindler's List (1993)

In [32]:
## Top 20 Recommendations for the Group of users (UserA, UserB, UserC) by the score of Least Misery
dmovies.loc[dmovies['movieId'].isin(leastMiseryRatings_df.head(20)['movieId'].tolist())]

     movieId                                   title
11        12              Usual Suspects, The (1995)
21        22                       Braveheart (1995)
49        50                        Star Wars (1977)
55        56                     Pulp Fiction (1994)
63        64        Shawshank Redemption, The (1994)
78        79                    Fugitive, The (1993)
95        96       Terminator 2: Judgment Day (1991)
97        98        Silence of the Lambs, The (1991)
99       100                            Fargo (1996)
126      127                   Godfather, The (1972)
167      168  Monty Python and the Holy Grail (1974)
171      172         Empire Strikes Back, The (1980)
172      173              Princess Bride, The (1987)
173      174          Raiders of the Lost Ark (1981)
180      181               Return of the Jedi (1983)
190      191                          Amadeus (1984)
203      204               Back to the Future (1985)
317      318                 Schindler's List (1993)
356      357  One Flew Over the Cuckoo's Nest (1975)
482      483                       Casablanca (1942)