In [1]:
#Importing the relevant libraries
import numpy as np
import pandas as pd
import math
import statistics as stat
from scipy.stats import pearsonr, kendalltau

In [2]:
#Importing the Datasets ratings and movies
ratings = pd.read_csv(r"/Volumes/bp first/Tampere University/Recommender Systems/ml-100k/userdata.csv", sep='\t', header=None)
ratings.columns=['userId','movieId','rating','timestamp']

d = 'movieId | title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western'
column_names2 = d.split(' | ')

# Loading the movies dataset
movies_data = pd.read_csv('/Volumes/bp first/Tampere University/Recommender Systems/ml-100k/uitem.csv', sep='|',header=None,names=column_names2,encoding='latin-1')
movies=movies_data[['movieId','title']]
movies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [3]:
#Dropping 'Timestamp' as it is not required
ratings = ratings.drop(columns = ["timestamp"])

In [4]:
#Ratings Dataset
ratings

       userId  movieId  rating
0         196      242       3
1         186      302       3
2          22      377       1
3         244       51       2
4         166      346       1
...       ...      ...     ...
99995     880      476       3
99996     716      204       5
99997     276     1090       1
99998      13      225       2
99999      12      203       3

[100000 rows x 3 columns]

In [5]:
#Movies Dataset
movies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [6]:
# Calculating the length of unique users in the dataset just for the knowledge and check purpose
print(f'Number of unique users {len(ratings["userId"].unique())}')

Number of unique users 943

In [7]:
#Picking up a random user (userId= 87) 
userA = 87

In [8]:
#Fuction for creating dataset of a single user with all the movies he has rated
def create_userX_matrix(userId):
    userX_matrix = ratings.query('userId == @userId',inplace = False)
    return userX_matrix

#Fuction for finding other similar user who has watched some/all similar movies with the selected user(userId)
def user_subset_common_movie(userId):
    userX_matrix = create_userX_matrix(userId)
    users = ratings[ratings['movieId'].isin(userX_matrix['movieId'].tolist())]
    # Creating sub dataframes based on userId
    userSubsetGroup = users.groupby(['userId'])
    # Sorting the sub dataframe of all simmilar users so that top common with the selected user will have the priority
    userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)
    userSubsetGroup = userSubsetGroup[1:81]
    return userSubsetGroup, userX_matrix

In [9]:
# Now we will find out the similar users like the selected user (userId= 87) 
# Alternately, we can say, finding the useres who rates similar movies as our selected user
userSubsetGroupA, userAMatrix = user_subset_common_movie(userA)
userAMatrix

       userId  movieId  rating
56         87      384       4
92         87     1016       4
141        87      274       4
240        87      554       4
375        87       40       3
...       ...      ...     ...
93711      87      128       3
95110      87     1178       3
95466      87      598       2
95984      87      849       5
97231      87      180       4

[211 rows x 3 columns]

In [10]:
# Inspecting the 2nd top user (1st one is the same as our selected user)
userSubsetGroupA[1]

(450,
        userId  movieId  rating
 17680     450      783       3
 17963     450      100       4
 18102     450      801       4
 18124     450      216       5
 18148     450      144       5
 ...       ...      ...     ...
 93026     450      628       4
 93734     450       22       5
 94234     450       25       3
 94454     450      228       4
 98871     450      732       3

 [146 rows x 3 columns])

In [11]:
#Total number of similar user who has rated most common movies as selected user (userId= 87)  
len(userSubsetGroupA)

80

In [12]:
#Store the Pearson Correlation in a dictionary, 
# where the key is the user Id and the value is the coefficient
def pearsonCorr(inputMovies, similarUsersGroup):
    pearsonCorrelationDict = {}
    #For every similar user group in our subset
    for name, group in similarUsersGroup:

        #Let's start by sorting the input and current user group so the values aren't mixed up later on
        group = group.sort_values(by='movieId')
        inputMovies1 = inputMovies.sort_values(by='movieId')

        #Get the N (total similar movies watched) for the formula 
        #nRatings = len(group)

        #Get the review scores of the Selected user for the movies that they both have in common
        temp_df = inputMovies1[inputMovies1['movieId'].isin(group['movieId'].tolist())]

        #And then store them in a temporary buffer variable in a list format to facilitate future calculations
        selectedUserTempRatingList = temp_df['rating'].tolist()
        #print(selectedUserTempRatingList)

        #Let's also put the current user group reviews in a list format
        similarUserTempRatingList = group['rating'].tolist()

        #Calculating pearson similarity
        simXX = 0
        meanSelectedUserTempRating = stat.mean(selectedUserTempRatingList)
        for i in selectedUserTempRatingList:
            simXX = simXX + pow((i - meanSelectedUserTempRating),2)

        simYY = 0
        meanSimilarUserTempRaning = stat.mean(similarUserTempRatingList)
        for j in similarUserTempRatingList:
            simYY = simYY + pow((j - meanSimilarUserTempRaning),2)

        simXY = 0
        for i, j in zip(selectedUserTempRatingList, similarUserTempRatingList):
            simXY = simXY+ ((i - meanSelectedUserTempRating ) * (j-meanSimilarUserTempRaning))

        #If the denominator is different than zero, then divide, else, 0 correlation.
        if simXX != 0 and simYY != 0:
            pearsonCorrelationDict[name] = simXY/np.sqrt(simXX*simYY)
        else:
            pearsonCorrelationDict[name] = 0                    
    
    maxSimilarUser = dict(sorted(pearsonCorrelationDict.items(), key=lambda item: item[1], reverse= True))
    return maxSimilarUser

In [13]:
#Similarity score of other similar users to our selected user (155)
def similarUsersofUserID (inputMovies, pearsonCorrelationDict):
    similarityScoreofSimilarUsers_data = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
    similarityScoreofSimilarUsers_data.head()
    similarityScoreofSimilarUsers_data.columns = ['similarityScore']
    similarityScoreofSimilarUsers_data['userId'] = similarityScoreofSimilarUsers_data.index
    similarityScoreofSimilarUsers_data.index = range(len(similarityScoreofSimilarUsers_data))
    #similarityScoreofSimilarUsers_data.head()
    topSimilarUsers=similarityScoreofSimilarUsers_data.sort_values(by='similarityScore', ascending=False)
    topSimilarUsers.head(10)
    topSimilarUsersRating = topSimilarUsers.merge(ratings, left_on='userId', right_on='userId', how='inner')
    topSimilarUsersRating.head()
    meanRb = topSimilarUsersRating.groupby('userId').mean()[['rating']]
    meanRb.columns = ['avgRating']
    meanRb['userId'] = meanRb.index
    meanRb.index = range(len(meanRb))
    topSimilarUsersRating = topSimilarUsersRating.merge(meanRb, left_on='userId', right_on='userId', how='inner')
    topSimilarUsersRating['weightedRatingScore'] = topSimilarUsersRating['similarityScore']*(topSimilarUsersRating['rating']-topSimilarUsersRating['avgRating'])
    tempTopSimilarUsersRating = topSimilarUsersRating.groupby('movieId').sum()[['weightedRatingScore']]
    tempTopSimilarUsersRating.columns = ['sum_weightedRatingScore']
    tempTopSimilarUsersRating['movieId'] = tempTopSimilarUsersRating.index
    
    #Creates an empty dataframe
    recommendation_data = pd.DataFrame()
    #Now we take the weighted average
    meanRa = inputMovies['rating'].mean()
    recommendation_data['weighted average recommendation score'] = meanRa+(tempTopSimilarUsersRating['sum_weightedRatingScore']/topSimilarUsers['similarityScore'].sum())
    recommendation_data['movieId'] = recommendation_data.index
    recommendation_data = recommendation_data.sort_values(by='weighted average recommendation score', ascending=False)
    recommendation_data.index = [x for x in range(1,len(recommendation_data)+1)]
    return recommendation_data

In [14]:
## Calling the function Pearson Correlation for calculating the similarity index in terms of 1st user in the group (userId= 87)  
pearsonCorrelationDictA = pearsonCorr(userAMatrix, userSubsetGroupA)

## Calling the function for generating recommendations in terms of 1st user in the group userA (userId= 87) 
recMovieA = similarUsersofUserID(userAMatrix, pearsonCorrelationDictA)
recMovieA

      weighted average recommendation score  movieId
1                                  5.007778       50
2                                  4.939580      174
3                                  4.798163       64
4                                  4.764024      172
5                                  4.763139       98
...                                     ...      ...
1540                               3.324132      412
1541                               3.304386      122
1542                               3.287322      546
1543                               3.262478       29
1544                               3.243817      231

[1544 rows x 2 columns]

In [15]:
#lets see users who are similar to 1st user in the group userA (userId= 87) by looking at correlation dictionary
pearsonCorrelationDictA

{796: 0.5057821247747694,
 533: 0.47937128941312074,
 804: 0.4482773005730129,
 896: 0.44610708130314314,
 222: 0.4244888274560173,
 457: 0.4166728208938566,
 650: 0.4160032518506304,
 416: 0.41389648854252375,
 95: 0.40355266537945583,
 648: 0.3966827659931506,
 653: 0.39557704109598135,
 660: 0.3872892928109776,
 881: 0.36450499285237564,
 311: 0.36065736241592206,
 749: 0.35498964061184024,
 301: 0.35316140710884586,
 450: 0.3455739759457818,
 933: 0.33614580138693934,
 551: 0.3294458490338792,
 880: 0.3277933375077127,
 178: 0.32011284916254873,
 886: 0.31868084804955943,
 268: 0.31833351981578084,
 916: 0.31814550083442983,
 374: 0.3171173575726351,
 682: 0.312221269924082,
 13: 0.3100584680366438,
 303: 0.3056027379099257,
 474: 0.29885188497771925,
 1: 0.29858730044677895,
 234: 0.29646255605061517,
 889: 0.2951439187884295,
 393: 0.2815628463768405,
 109: 0.2754462275814459,
 497: 0.2727241994305363,
 92: 0.271381029568534,
 276: 0.27005537501834065,
 405: 0.2693189309740629,
 59: 0.2650999027851521,
 727: 0.2634958303332844,
 313: 0.26347369294536194,
 642: 0.25289093453029876,
 151: 0.25034032656840416,
 293: 0.2441170073797857,
 892: 0.24379192558693027,
 407: 0.24362428487306054,
 846: 0.23777395019460873,
 56: 0.23690608245477843,
 7: 0.23153453804469074,
 417: 0.2300787928983085,
 429: 0.226034398574855,
 373: 0.22095137991302297,
 758: 0.2153913903234621,
 406: 0.21366984166097328,
 328: 0.1968894605237023,
 716: 0.19521641509779836,
 864: 0.18864805014851319,
 130: 0.18362180986789878,
 378: 0.1810767634392155,
 435: 0.18022913257472215,
 85: 0.16070940521461882,
 774: 0.15998653845083707,
 790: 0.1598281824720571,
 399: 0.15039151914297383,
 389: 0.1377138993133498,
 194: 0.1374476760197249,
 495: 0.13348882726796527,
 363: 0.12602174048029627,
 537: 0.11585983051196223,
 308: 0.10472541399914077,
 327: 0.0780024253341822,
 655: 0.07800081234409294,
 280: 0.06120576458140828,
 94: 0.05429264654720032,
 269: 0.05360550394323865,
 472: 0.041741887015884535,
 561: 0.03409615515207704,
 524: 0.014186762683089778,
 279: 0.000253845950277538,
 387: -0.0830720732309384}

In [16]:
#As userId = 796 and userId = 533 has the highest similarity score with our selected userA
#So, lets take 796 and 533 so lets produce recommendation for them, based on pearson correlation value
#The same approach is followed for the following two users as done for the userA.
#The approach is basically finding the most similar users for userB and userC

In [17]:
#2nd user of the group
userB = 796

# finding the useres who rates similar movies as our selected userB
userSubsetGroupB, userBMatrix = user_subset_common_movie(userB)

#Calling the function Pearson Correlation for calculating the similarity index in terms of 1st user in the group userB
pearsonCorrelationDictB = pearsonCorr(userBMatrix, userSubsetGroupB)

#Calling the function for generating recommendations in terms of 1st user in the group userB 
recMovieB = similarUsersofUserID(userBMatrix, pearsonCorrelationDictB)
recMovieB

      weighted average recommendation score  movieId
1                                  4.856139       50
2                                  4.768973      174
3                                  4.702548      172
4                                  4.639317       12
5                                  4.607882       22
...                                     ...      ...
1548                               3.130155      412
1549                               3.115721      554
1550                               3.109293       29
1551                               3.102263      231
1552                               3.012441      122

[1552 rows x 2 columns]

In [18]:
#2nd user of the group
userC = 533

# finding the useres who rates similar movies as our selected userC
userSubsetGroupC, userCMatrix = user_subset_common_movie(userC)

#Calling the function Pearson Correlation for calculating the similarity index in terms of 1st user in the group userC
pearsonCorrelationDictC = pearsonCorr(userCMatrix, userSubsetGroupC)

#Calling the function for generating recommendations in terms of 1st user in the group userC
recMovieC = similarUsersofUserID(userCMatrix, pearsonCorrelationDictC)
recMovieC

      weighted average recommendation score  movieId
1                                  4.505790       64
2                                  4.440320       50
3                                  4.416857      174
4                                  4.377839       98
5                                  4.260990      172
...                                     ...      ...
1554                               2.884996      412
1555                               2.877763      554
1556                               2.854517      931
1557                               2.853632       53
1558                               2.821971      231

[1558 rows x 2 columns]

In [19]:
#List of recommendations movies for 1st user in the group userA
aUserList = recMovieA['movieId'].tolist()

#List of recommendations movies for 1st user in the group userB
bUserList = recMovieB['movieId'].tolist()

#List of recommendations movies for 1st user in the group userC
cUserList = recMovieC['movieId'].tolist()

In [20]:
aUserList

[50,
 174,
 64,
 172,
 98,
 173,
 181,
 127,
 22,
 12,
 195,
 318,
 168,
 191,
 96,
 183,
 483,
 89,
 204,
 56,
 79,
 69,
 357,
 210,
 100,
 176,
 144,
 28,
 603,
 651,
 265,
 194,
 187,
 511,
 186,
 134,
 496,
 196,
 208,
 216,
 185,
 228,
 199,
 313,
 480,
 474,
 427,
 180,
 1,
 484,
 182,
 211,
 527,
 193,
 202,
 132,
 153,
 215,
 197,
 82,
 655,
 11,
 479,
 520,
 87,
 435,
 117,
 423,
 223,
 121,
 178,
 135,
 234,
 203,
 238,
 588,
 8,
 7,
 169,
 523,
 657,
 222,
 684,
 268,
 48,
 71,
 258,
 385,
 83,
 42,
 746,
 97,
 156,
 272,
 429,
 177,
 198,
 302,
 246,
 124,
 568,
 257,
 430,
 498,
 95,
 9,
 531,
 478,
 150,
 170,
 663,
 154,
 431,
 190,
 735,
 515,
 315,
 157,
 705,
 528,
 192,
 275,
 136,
 316,
 317,
 692,
 151,
 200,
 333,
 443,
 526,
 732,
 205,
 23,
 114,
 654,
 660,
 125,
 239,
 482,
 99,
 742,
 188,
 15,
 129,
 250,
 519,
 661,
 31,
 504,
 137,
 164,
 237,
 298,
 143,
 378,
 282,
 652,
 521,
 52,
 566,
 408,
 506,
 497,
 179,
 161,
 510,
 513,
 285,
 269,
 276,
 462,
 404,
 659,
 505,
 55,
 166,
 491,
 1039,
 209,
 128,
 175,
 615,
 293,
 591,
 525,
 88,
 530,
 241,
 792,
 647,
 152,
 709,
 347,
 310,
 463,
 286,
 230,
 59,
 133,
 509,
 794,
 14,
 171,
 248,
 467,
 493,
 633,
 518,
 470,
 481,
 328,
 500,
 58,
 51,
 432,
 433,
 492,
 45,
 750,
 428,
 770,
 93,
 70,
 207,
 499,
 606,
 963,
 516,
 489,
 508,
 425,
 837,
 165,
 420,
 490,
 601,
 189,
 919,
 607,
 612,
 710,
 1063,
 4,
 966,
 434,
 288,
 736,
 1073,
 1007,
 486,
 1016,
 1020,
 507,
 392,
 419,
 262,
 1012,
 445,
 502,
 614,
 936,
 487,
 942,
 342,
 494,
 92,
 613,
 658,
 628,
 224,
 1269,
 693,
 915,
 236,
 724,
 751,
 896,
 644,
 1169,
 303,
 436,
 968,
 1142,
 251,
 634,
 1240,
 747,
 900,
 270,
 953,
 611,
 116,
 645,
 1019,
 226,
 471,
 847,
 356,
 304,
 656,
 1134,
 923,
 641,
 699,
 66,
 60,
 653,
 686,
 346,
 739,
 762,
 867,
 945,
 331,
 418,
 648,
 1101,
 604,
 1194,
 73,
 1119,
 512,
 201,
 367,
 1152,
 811,
 969,
 863,
 718,
 495,
 1010,
 673,
 1446,
 909,
 754,
 733,
 814,
 868,
 880,
 630,
 297,
 1147,
 115,
 33,
 848,
 109,
 30,
 307,
 1463,
 646,
 954,
 501,
 1172,
 345,
 602,
 793,
 77,
 865,
 729,
 625,
 608,
 1467,
 1218,
 1554,
 65,
 126,
 1136,
 806,
 778,
 1516,
 1189,
 1594,
 184,
 372,
 727,
 393,
 690,
 1021,
 319,
 107,
 537,
 1121,
 75,
 924,
 691,
 1022,
 1005,
 856,
 902,
 589,
 466,
 326,
 959,
 119,
 147,
 113,
 332,
 1473,
 851,
 887,
 835,
 694,
 886,
 403,
 1262,
 305,
 522,
 459,
 469,
 81,
 1449,
 267,
 524,
 475,
 1397,
 701,
 1226,
 1056,
 580,
 253,
 213,
 1085,
 993,
 1173,
 956,
 766,
 1221,
 1301,
 360,
 1456,
 626,
 416,
 1149,
 927,
 1186,
 1192,
 1064,
 1452,
 1458,
 1550,
 279,
 292,
 593,
 638,
 1137,
 1589,
 1333,
 24,
 295,
 1451,
 1094,
 485,
 221,
 1483,
 1216,
 1313,
 1131,
 992,
 1664,
 1496,
 845,
 632,
 1153,
 730,
 1643,
 1368,
 414,
 1396,
 461,
 707,
 447,
 842,
 1468,
 621,
 1482,
 57,
 18,
 1187,
 947,
 1298,
 836,
 703,
 1485,
 1055,
 146,
 1278,
 534,
 1143,
 882,
 271,
 1111,
 1335,
 1124,
 532,
 592,
 1466,
 1631,
 1636,
 1380,
 1639,
 1642,
 1651,
 1650,
 296,
 1645,
 1623,
 1443,
 917,
 872,
 1114,
 618,
 287,
 274,
 306,
 805,
 1118,
 1445,
 1264,
 649,
 291,
 1361,
 1265,
 787,
 970,
 61,
 1547,
 1290,
 361,
 1519,
 1387,
 922,
 1538,
 514,
 1524,
 1286,
 1223,
 464,
 1515,
 1068,
 389,
 543,
 366,
 1117,
 1159,
 6,
 1406,
 1279,
 813,
 1011,
 340,
 1393,
 1541,
 1543,
 1681,
 600,
 218,
 1277,
 1144,
 995,
 1635,
 1158,
 1633,
 1155,
 1632,
 1344,
 1630,
 1629,
 1356,
 1388,
 1082,
 1370,
 1196,
 1379,
 1600,
 1607,
 1403,
 1395,
 1605,
 1378,
 1375,
 1602,
 1646,
 935,
 1281,
 1319,
 1506,
 1257,
 1256,
 1649,
 1647,
 1255,
 1233,
 359,
 1641,
 1640,
 1638,
 1637,
 1024,
 1280,
 1198,
 1491,
 1500,
 256,
 1492,
 1321,
 1498,
 1162,
 1312,
 454,
 1497,
 1242,
 1494,
 1493,
 1486,
 1459,
 19,
 354,
 1418,
 1045,
 1315,
 1657,
 1103,
 1426,
 1212,
 1283,
 1462,
 1448,
 529,
 971,
 883,
 857,
 300,
 1053,
 1457,
 1450,
 1330,
 1447,
 1369,
 1460,
 1268,
 1275,
 1003,
 242,
 1008,
 815,
 1537,
 850,
 1427,
 111,
 337,
 1204,
 1123,
 1009,
 1627,
 1294,
 1075,
 1514,
 1532,
 1648,
 1465,
 1628,
 1436,
 1634,
 1238,
 1252,
 587,
 1171,
 822,
 394,
 662,
 1495,
 16,
 1070,
 903,
 1510,
 1202,
 918,
 1597,
 1682,
 1305,
 617,
 584,
 533,
 870,
 893,
 1083,
 1081,
 905,
 1401,
 1542,
 1276,
 1199,
 1585,
 1141,
 402,
 1644,
 1097,
 362,
 1018,
 714,
 639,
 1282,
 1203,
 1322,
 1409,
 1115,
 448,
 1410,
 1261,
 13,
 335,
 1501,
 774,
 581,
 1527,
 214,
 1512,
 698,
 1166,
 1211,
 1058,
 390,
 943,
 825,
 967,
 745,
 889,
 1420,
 1105,
 643,
 594,
 666,
 1499,
 1578,
 1062,
 1535,
 1193,
 1266,
 677,
 1027,
 1318,
 1561,
 1307,
 1306,
 1559,
 1558,
 994,
 1557,
 1556,
 1562,
 1338,
 1405,
 1394,
 1399,
 1334,
 1464,
 1551,
 1317,
 1544,
 1548,
 1546,
 1316,
 1569,
 1563,
 1581,
 1583,
 1434,
 1564,
 1584,
 1586,
 1587,
 1104,
 1588,
 1590,
 1432,
 1591,
 1592,
 957,
 1429,
 1346,
 1353,
 1359,
 1382,
 1424,
 1175,
 1384,
 1422,
 1391,
 1582,
 1308,
 1568,
 1571,
 1567,
 1573,
 1580,
 1574,
 1575,
 1565,
 1576,
 1442,
 1570,
 1577,
 1566,
 1579,
 1572,
 1484,
 1050,
 605,
 277,
 906,
 920,
 980,
 982,
 1129,
 610,
 916,
 1531,
 76,
 861,
 757,
 308,
 1523,
 1227,
 468,
 1099,
 1174,
 753,
 1067,
 1545,
 624,
 973,
 1553,
 939,
 320,
 789,
 1552,
 1128,
 965,
 898,
 1200,
 1454,
 1560,
 1474,
 1549,
 1529,
 1603,
 1404,
 1477,
 1476,
 311,
 855,
 1167,
 1271,
 517,
 1475,
 958,
 776,
 548,
 1043,
 964,
 853,
 1084,
 421,
 989,
 1455,
 1461,
 1453,
 914,
 910,
 1061,
 884,
 255,
 1195,
 1148,
 938,
 985,
 1106,
 1487,
 1655,
 961,
 925,
 1400,
 1098,
 206,
 1490,
 721,
 344,
 598,
 1435,
 1481,
 503,
 1287,
 1416,
 1620,
 1513,
 1511,
 1439,
 1197,
 348,
 10,
 1351,
 46,
 1324,
 1154,
 1622,
 1672,
 1438,
 1469,
 327,
 1296,
 979,
 748,
 1108,
 232,
 309,
 799,
 582,
 1168,
 962,
 557,
 1015,
 817,
 273,
 1408,
 911,
 1100,
 1176,
 921,
 1288,
 1180,
 1107,
 888,
 1488,
 1260,
 1615,
 741,
 1428,
 334,
 1038,
 1245,
 960,
 488,
 1555,
 20,
 1161,
 455,
 1160,
 975,
 913,
 609,
 1300,
 749,
 1503,
 680,
 86,
 1225,
 278,
 1032,
 1146,
 1292,
 536,
 1093,
 336,
 219,
 1284,
 1205,
 330,
 667,
 1017,
 1470,
 1402,
 1521,
 891,
 907,
 839,
 838,
 852,
 830,
 706,
 897,
 381,
 1444,
 1285,
 54,
 740,
 912,
 163,
 1031,
 599,
 1112,
 1311,
 952,
 1440,
 550,
 26,
 885,
 374,
 460,
 1086,
 ...]

In [21]:
#The common recommended movies of all users (userA, userB, userC) in group
commonRecMovAverage = set(aUserList) & set(bUserList) & set(cUserList)

#Total number of common recommended movies of all users (userA, userB, userC) in group
len(commonRecMovAverage)

1542

In [22]:
#Finding only the common movies between users with the recommendation score with UserA
recMovieA = recMovieA[recMovieA['movieId'].isin(commonRecMovAverage)]

#Finding only the common movies between users with the recommendation score with UserB
recMovieB = recMovieB[recMovieB['movieId'].isin(commonRecMovAverage)]

#Finding only the common movies between users with the recommendation score with UserC
recMovieC = recMovieC[recMovieC['movieId'].isin(commonRecMovAverage)]

In [23]:
recMovieA

      weighted average recommendation score  movieId
1                                  5.007778       50
2                                  4.939580      174
3                                  4.798163       64
4                                  4.764024      172
5                                  4.763139       98
...                                     ...      ...
1540                               3.324132      412
1541                               3.304386      122
1542                               3.287322      546
1543                               3.262478       29
1544                               3.243817      231

[1542 rows x 2 columns]

In [24]:
#Calculate the average aggregation with the value of individual recommendation score of each common movie between the users (userA, userB, userC) in group
frames = [recMovieA, recMovieB, recMovieC]
result = pd.concat(frames)

GroupRecommendationAverage = result.groupby(['movieId'], as_index= False).mean().sort_values(by='weighted average recommendation score', ascending=False)
GroupRecommendationAverage.index = [x for x in range(1, len(GroupRecommendationAverage)+1)]
GroupRecommendationAverage

      movieId  weighted average recommendation score
1          50                               4.768079
2         174                               4.708470
3          64                               4.630003
4         172                               4.575854
5          98                               4.548956
...       ...                                    ...
1538      554                               3.119239
1539      412                               3.113094
1540       29                               3.089260
1541      122                               3.082150
1542      231                               3.056017

[1542 rows x 2 columns]

In [25]:
#Concating the movieId with the movie title from the collective movie list after average aggregation  
movies.loc[movies['movieId'].isin(GroupRecommendationAverage.head(20)['movieId'])]['title']

11                 Usual Suspects, The (1995)
21                          Braveheart (1995)
49                           Star Wars (1977)
55                        Pulp Fiction (1994)
63           Shawshank Redemption, The (1994)
68                        Forrest Gump (1994)
78                       Fugitive, The (1993)
95          Terminator 2: Judgment Day (1991)
97           Silence of the Lambs, The (1991)
126                     Godfather, The (1972)
167    Monty Python and the Holy Grail (1974)
171           Empire Strikes Back, The (1980)
172                Princess Bride, The (1987)
173            Raiders of the Lost Ark (1981)
180                 Return of the Jedi (1983)
190                            Amadeus (1984)
194                    Terminator, The (1984)
203                 Back to the Future (1985)
317                   Schindler's List (1993)
482                         Casablanca (1942)
Name: title, dtype: object

In [26]:
#Calculate the Least Misery aggregation with the value of individual recommendation score of each common movie between the users (userA, userB, userC) in group
GroupRecommendationLM = result.groupby(['movieId'], as_index = False).min().sort_values(by='weighted average recommendation score', ascending=False)
GroupRecommendationLM.index = [x for x in range(1, len(GroupRecommendationLM)+1)]
GroupRecommendationLM

      movieId  weighted average recommendation score
1          64                               4.505790
2          50                               4.440320
3         174                               4.416857
4          98                               4.377839
5         172                               4.260990
...       ...                                    ...
1538      412                               2.884996
1539      554                               2.877763
1540      931                               2.854517
1541       53                               2.853632
1542      231                               2.821971

[1542 rows x 2 columns]

In [27]:
#Concating the movieId with the movie title from the collective movie list after Least Misery aggregation 
movies.loc[movies['movieId'].isin(GroupRecommendationLM.head(20)['movieId'])]['title']

11                 Usual Suspects, The (1995)
21                          Braveheart (1995)
49                           Star Wars (1977)
55                        Pulp Fiction (1994)
63           Shawshank Redemption, The (1994)
78                       Fugitive, The (1993)
95          Terminator 2: Judgment Day (1991)
97           Silence of the Lambs, The (1991)
99                               Fargo (1996)
126                     Godfather, The (1972)
171           Empire Strikes Back, The (1980)
172                Princess Bride, The (1987)
173            Raiders of the Lost Ark (1981)
180                 Return of the Jedi (1983)
182                              Alien (1979)
190                            Amadeus (1984)
215            When Harry Met Sally... (1989)
317                   Schindler's List (1993)
356    One Flew Over the Cuckoo's Nest (1975)
482                         Casablanca (1942)
Name: title, dtype: object

In [28]:
#let's create Kendall-Tau distance calculation to evaluate the recommendation of our grouping (against Average Aggregation method)

#List of recommendations movies for 1st user in the group userA
aUserList = recMovieA['movieId'].tolist()

#List of recommendations movies for 1st user in the group userB
bUserList = recMovieB['movieId'].tolist()

#List of recommendations movies for 1st user in the group userC
cUserList = recMovieC['movieId'].tolist()

#listing the common movie Id from the Average Aggregation method
averageList = GroupRecommendationAverage['movieId'].tolist()
len(averageList)

1542

In [29]:
len(cUserList)

1542

In [30]:
#Kandall Tau Correlation between movie rank between userA with the commom group movie rank (aginst Average Aggregation method) 
tauAAVG, p_valueA = kendalltau(aUserList, averageList) 
#Kandall Tau Correlation between movie rank between userB with the commom group movie rank (aginst Average Aggregation method)
tauBAVG, p_valueB = kendalltau(bUserList, averageList) 
#Kandall Tau Correlation between movie rank between userC with the commom group movie rank (aginst Average Aggregation method)
tauCAVG, p_valueC = kendalltau(cUserList, averageList) 

print(f'KT Correlation for user A against Average aggregation method: {tauAAVG}')
print(f'KT Correlation for user B against Average aggregation method: {tauBAVG}')
print(f'KT Correlation for user C against Average aggregation method: {tauCAVG}')

KT Correlation for user A against Average aggregation method: 0.25831845677718657
KT Correlation for user B against Average aggregation method: 0.24405211297597612
KT Correlation for user C against Average aggregation method: 0.26604164089045546

In [31]:
p_valueA

3.6267835145732094e-52

In [32]:
#let's create Kendall-Tau distance calculation to evaluate the recommendation of our grouping (against Least Misery Aggregation method)

#listing the common movie Id from the Least Misery Aggregation method
lmList = GroupRecommendationLM['movieId'].tolist()

#Kandall Tau Correlation between movie rank between userA with the commom group movie rank (aginst Least Misery Aggregation method)
tauALM, p_valueALM = kendalltau(aUserList, lmList) 
#Kandall Tau Correlation between movie rank between userB with the commom group movie rank (aginst Least Misery Aggregation method)
tauBLM, p_valueBLM = kendalltau(bUserList, lmList) 
#Kandall Tau Correlation between movie rank between userC with the commom group movie rank (aginst Least Misery Aggregation method)
tauCLM, p_valueCLM = kendalltau(cUserList, lmList) 

print(f'KT Correlation for user A against LM aggregation method: {tauALM}')
print(f'KT Correlation for user B against LM aggregation method: {tauBLM}')
print(f'KT Correlation for user C against LM aggregation method: {tauCLM}')

KT Correlation for user A against LM aggregation method: 0.25153457883985586
KT Correlation for user B against LM aggregation method: 0.251670929736363
KT Correlation for user C against LM aggregation method: 0.952088651649551

In [33]:
#Let's find users that have less disagreement, instead of using pearson correlation, let's count userA against other users
#and find the ones that has the highest Kendall tau correlation
#let's choose users who at least have 30 common rated movies
similarUserA2 = [name for name,group in userSubsetGroupA] 
len(similarUserA2)

80

In [34]:
#Function for finding recommendation with a single user with other user
def produce_recommendation(userId):
    userSubsetGroup, userMatrix = user_subset_common_movie(userId)
    pearsonCorrelationDict = pearsonCorr(userMatrix, userSubsetGroup)
    recMovieX = similarUsersofUserID(userMatrix, pearsonCorrelationDict)
    return recMovieX
    
#Function for kendall_tau correlatuib between users
def kendall_tau_between_users(userId, otherUsers, recMovieA):
    recMovieX = produce_recommendation(userId)
    recMovieListX = recMovieX['movieId'].tolist() #list Of Recommended Movie For UserId
    aUserList = recMovieA['movieId'].tolist()
    commonRecMovAverage = set(aUserList) & set(recMovieListX)
    
    recMovieA = recMovieA[recMovieA['movieId'].isin(commonRecMovAverage)]
    recMovieX = recMovieX[recMovieX['movieId'].isin(commonRecMovAverage)]
    
    recMovieListA = recMovieA['movieId'].tolist()
    recMovieListX = recMovieX['movieId'].tolist()
    
    tauUser, p_valueUser = kendalltau(recMovieListA, recMovieListX) 
    return tauUser

In [35]:
#Create dictionary for storing userId with their kendall tau correlation value
KTDict = {}
for user in similarUserA2:
    x = kendall_tau_between_users(user, userSubsetGroupA, recMovieA)
    KTDict[user] = x 
    KTDict = dict(sorted(KTDict.items(), key=lambda item: item[1], reverse= True))

In [36]:
#Showing the itemms of all kendall tau correlation value
KTDict 

#let's take 749 as new userB and 682 new userC because it has the highest kendall tau correlatuib

{749: 0.2811782737471499,
 682: 0.2760443968750263,
 497: 0.2752949850645267,
 495: 0.2736556509512958,
 301: 0.27271946813050296,
 537: 0.27139535542412196,
 472: 0.27138625936465527,
 758: 0.26941088182017386,
 561: 0.2688124551427152,
 276: 0.2677333063297976,
 56: 0.265893690455094,
 92: 0.2656393215785393,
 308: 0.26228175004023435,
 406: 0.2622485337772701,
 727: 0.2618016636186655,
 417: 0.26157613365881105,
 1: 0.26048189318792825,
 660: 0.2603137666446132,
 95: 0.25918881715262787,
 416: 0.258523824794148,
 268: 0.25779600516442625,
 474: 0.25777539049910836,
 886: 0.2573673240339907,
 864: 0.2566283789982585,
 648: 0.2558601683845032,
 269: 0.25565844016683525,
 222: 0.25561668901306356,
 94: 0.25516723605791036,
 327: 0.25450010843634785,
 551: 0.2544965106368616,
 363: 0.2543566751224116,
 151: 0.25395406058501174,
 889: 0.2516707517134775,
 13: 0.2512455149001998,
 178: 0.2511103432582991,
 387: 0.25100811917154625,
 533: 0.24964586642157166,
 59: 0.2492223080676642,
 7: 0.2486042272341116,
 407: 0.2482053008875987,
 896: 0.2477602747317363,
 435: 0.24731275108133832,
 194: 0.24627103691639524,
 303: 0.2459988354725197,
 393: 0.24595936185812886,
 109: 0.24442581543306977,
 846: 0.24224518186753533,
 892: 0.2416672370132092,
 313: 0.24158172357867774,
 429: 0.2414033727466563,
 796: 0.24082009172543642,
 653: 0.23981728848698344,
 880: 0.23979706212022886,
 650: 0.23949341748099895,
 373: 0.23910722999349376,
 293: 0.23899479338075832,
 804: 0.2387790016602476,
 524: 0.23721946867142238,
 933: 0.23685749681856105,
 450: 0.2367789766558089,
 655: 0.23650544081723296,
 457: 0.23583739229752096,
 378: 0.23511128715541432,
 374: 0.23502869615783306,
 916: 0.23365196693510973,
 279: 0.23264468638992547,
 389: 0.2303769997088505,
 85: 0.22954930947883292,
 280: 0.22923194886673043,
 130: 0.22820510878192354,
 790: 0.22711007357340904,
 405: 0.22563208610261482,
 774: 0.2242040094339622,
 328: 0.2231827631989003,
 234: 0.214030443414957,
 881: 0.21399158920249117,
 716: 0.2112174634313325,
 399: 0.2089668540119615,
 311: 0.20500450872086048,
 642: 0.19823377071677128}

In [37]:
#Finding top recommended movies of new userB 
newRecMovieB = produce_recommendation(749)

#Finding top recommended movies of new userC 
newRecMovieC = produce_recommendation(682)

In [38]:
#List of recommendations movies for 1st user in the group new userA
newAUserList = recMovieA['movieId'].tolist()

#List of recommendations movies for 1st user in the group new userB
newBUserList = newRecMovieB['movieId'].tolist()

#List of recommendations movies for 1st user in the group new userC
newCUserList = newRecMovieC['movieId'].tolist()

#List of recommendations movies for all users in the group users
newCommonRecMov = set(newAUserList) & set(newBUserList) & set(newCUserList)

newRecMovieA = recMovieA[recMovieA['movieId'].isin(newCommonRecMov)]
newRecMovieB = newRecMovieB[newRecMovieB['movieId'].isin(newCommonRecMov)]
newRecMovieC = newRecMovieC[newRecMovieC['movieId'].isin(newCommonRecMov)]

In [39]:
#Calculate the new average aggregation with the value of individual recommendation score of each common movie between the new users (new userA, new userB, new userC) in group
newFrames = [newRecMovieA, newRecMovieB , newRecMovieC]
newResult = pd.concat(newFrames)
newGroupRecommendationAverage =  newResult.groupby(['movieId'], as_index= False).mean().sort_values(by='weighted average recommendation score', ascending=False)
newGroupRecommendationAverage.index = [x for x in range(1, len(newGroupRecommendationAverage)+1)]
newGroupRecommendationAverage

      movieId  weighted average recommendation score
1          50                               4.698143
2         174                               4.605160
3          64                               4.514545
4         172                               4.494437
5          98                               4.492951
...       ...                                    ...
1537      122                               3.072752
1538      412                               3.054437
1539      546                               3.019849
1540      231                               3.008005
1541       29                               2.999503

[1541 rows x 2 columns]

In [40]:
#Concating the movie data with movie title
#movies.loc[movies['movieId'].isin(newGroupRecommendationAverage.head(20)['movieId'])]['title']
newGroupRecommendationAverage['movieName'] = newGroupRecommendationAverage['movieId'].map(movies['title'])
newGroupRecommendationAverage.head(20)

,movieId,weighted average recommendation score,movieName
1,50,4.698143,Legends of the Fall (1994)
2,174,4.605160,Brazil (1985)
3,64,4.514545,What's Eating Gilbert Grape (1993)
4,172,4.494437,"Princess Bride, The (1987)"
5,98,4.492951,Snow White and the Seven Dwarfs (1937)
6,173,4.423396,Raiders of the Lost Ark (1981)
7,12,4.377031,Mighty Aphrodite (1995)
8,127,4.376642,Supercop (1992)
9,181,4.353085,GoodFellas (1990)
10,22,4.347621,Taxi Driver (1976)
11,168,4.268011,"Wrong Trousers, The (1993)"
12,318,4.258605,Everyone Says I Love You (1996)
13,56,4.250391,Priest (1994)
14,195,4.241354,Dead Poets Society (1989)
15,191,4.232476,Raging Bull (1980)
16,183,4.221229,Army of Darkness (1993)
17,100,4.215629,Heavy Metal (1981)
18,96,4.191751,Dances with Wolves (1990)
19,89,4.180783,So I Married an Axe Murderer (1993)
20,483,4.174595,"Maltese Falcon, The (1941)"

In [41]:
#Calculate the Least Misery aggregation with the value of individual recommendation score of each common movie between the new users (new userA, new userB, new userC) in group
newGroupRecommendationLM = newResult.groupby(['movieId'], as_index = False).min().sort_values(by='weighted average recommendation score', ascending=False)
newGroupRecommendationLM.index = [x for x in range(1, len(newGroupRecommendationLM)+1)]
newGroupRecommendationLM

      movieId  weighted average recommendation score
1          50                               4.282362
2         174                               4.179346
3          64                               4.140541
4         172                               4.128661
5          98                               4.091056
...       ...                                    ...
1537       38                               2.682526
1538      546                               2.677297
1539       29                               2.674228
1540       53                               2.666939
1541      931                               2.649783

[1541 rows x 2 columns]

In [42]:
newGroupRecommendationLM['movieName'] = newGroupRecommendationLM['movieId'].map(movies['title'])
newGroupRecommendationLM.head(20)

,movieId,weighted average recommendation score,movieName
1,50,4.282362,Legends of the Fall (1994)
2,174,4.179346,Brazil (1985)
3,64,4.140541,What's Eating Gilbert Grape (1993)
4,172,4.128661,"Princess Bride, The (1987)"
5,98,4.091056,Snow White and the Seven Dwarfs (1937)
6,12,4.047161,Mighty Aphrodite (1995)
7,127,4.028786,Supercop (1992)
8,22,4.020556,Taxi Driver (1976)
9,56,4.003605,Priest (1994)
10,173,3.982075,Raiders of the Lost Ark (1981)
11,181,3.954538,GoodFellas (1990)
12,168,3.941305,"Wrong Trousers, The (1993)"
13,183,3.915418,Army of Darkness (1993)
14,318,3.902840,Everyone Says I Love You (1996)
15,195,3.886441,Dead Poets Society (1989)
16,100,3.865357,Heavy Metal (1981)
17,89,3.857705,So I Married an Axe Murderer (1993)
18,96,3.855067,Dances with Wolves (1990)
19,191,3.841798,Raging Bull (1980)
20,357,3.807965,Spawn (1997)

In [43]:
#Kendall-Tau value calculation to evaluate the recommendation of our grouping (against Average Aggregation method)
newRecMovieA 
newAverageList = newGroupRecommendationAverage['movieId'].tolist()
newLmList = newGroupRecommendationLM['movieId'].tolist()
newListA = newRecMovieA['movieId'].tolist()
newListB = newRecMovieB['movieId'].tolist()
newListC = newRecMovieC['movieId'].tolist()

newTauAAVG, p_valueA = kendalltau(newListA, newAverageList) 
newTauBAVG, p_valueB = kendalltau(newListB, newAverageList) 
newTauCAVG, p_valueC = kendalltau(newListC, newAverageList)

In [44]:
print(f'KT Correlation for user A against Average aggregation method: {newTauAAVG}')
print(f'KT Correlation for user B against Average aggregation method: {newTauBAVG}')
print(f'KT Correlation for user C against Average aggregation method: {newTauCAVG}')

KT Correlation for user A against Average aggregation method: 0.27102320132819807
KT Correlation for user B against Average aggregation method: 0.2538425883007323
KT Correlation for user C against Average aggregation method: 0.2757190894763899

In [45]:
#Kendall-Tau value calculation to evaluate the recommendation of our grouping (against Least Misery Aggregation method)
newTauALM, p_valueA = kendalltau(newListA, newLmList) 
newTauBLM, p_valueB = kendalltau(newListB, newLmList) 
newTauCLM, p_valueC = kendalltau(newListC, newLmList)

In [46]:
print(f'KT Correlation for user A against LM aggregation method: {newTauALM}')
print(f'KT Correlation for user B against LM aggregation method: {newTauBLM}')
print(f'KT Correlation for user C against LM aggregation method: {newTauCLM}')

KT Correlation for user A against LM aggregation method: 0.2814111261872455
KT Correlation for user B against LM aggregation method: 0.25236437799708406
KT Correlation for user C against LM aggregation method: 0.9502937037005822