In [40]:
#Imporing the libraries
import os
import pandas as pd
import numpy as np
import statistics as stat

In [41]:
#Load the ratings dataset
ratings_data = pd.read_csv(r'D:/MS/Recommender Systems/ml-100k/u.csv',sep='\t', header=None)
# Understanding the Dataset for Ratings
ratings_data.columns=['User_ID','Item_ID','Rating','Timestamp']
ratings_data.head()

   User_ID  Item_ID  Rating  Timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [42]:
# Looking at the Dataset--> Timestamp can be removed as it is not necessary for processing
ratings_data.drop('Timestamp', inplace=True, axis=1)
# Inspecting Data after dropping the 'timestamp' column
ratings_data.head()

   User_ID  Item_ID  Rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1

In [43]:
# Length of the rows
print(len(ratings_data))
# Number of unique users
print(len(pd.unique(ratings_data['User_ID'])))

100000
943

In [44]:
d = 'Item_ID | movie_title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation | Children | Comedy | Crime | Documentary | Drama | Fantasy | Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi | Thriller | War | Western'
column_names2 = d.split(' | ')
#column_names2
# Loading the movies dataset
movies_data = pd.read_csv(r'D:/MS/Recommender Systems/ml-100k/uitem.csv', sep='|',header=None,names=column_names2,encoding='latin-1')
# Understanding the Dataset for Movies Dataset
movies_data.head()

,Item_ID,movie_title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [45]:
# Getting all the movies of a selected user has seen and rated
# This will work as an input values and these values will be used to recommend this user some new movies
# Selected userId (405) you can use any value
uId = 405
inputMovies = ratings_data[ratings_data['User_ID']== uId]
inputMovies.head()
# len(inputMovies)

       User_ID  Item_ID  Rating
12276      405       56       4
12383      405      592       1
12430      405     1582       1
12449      405      171       1
12460      405      580       1

In [47]:
# Number of movies that selected user has rated/watched
print(len(inputMovies))
# Now we will find out the similar users like our selected user
# Alternately, we can say, finding the users who rates similar movies as our selected user
similarUsers = ratings_data[ratings_data['Item_ID'].isin(inputMovies['Item_ID'].tolist())]
similarUsers
print(similarUsers['User_ID'].value_counts())

737
405    737
846    346
13     335
655    327
450    318
      ...
529      1
657      1
302      1
817      1
155      1
Name: User_ID, Length: 930, dtype: int64

In [48]:
# Now creating sub dataframes based on userId
similarUsersGroup = similarUsers.groupby(['User_ID'])
# Inspecting one random user, let's say userId = 450
similarUsersGroup.get_group(450)
# len(similarUsersGroup)

       User_ID  Item_ID  Rating
17656      450      470       5
17680      450      783       3
17764      450     1147       4
18055      450       58       3
18071      450      142       5
...        ...      ...     ...
98389      450      178       4
98566      450      584       5
98871      450      732       3
99039      450      388       3
99772      450      654       4

[318 rows x 3 columns]

In [49]:
# Let's sort those users dataframes
# So that, users with most in common with the selected user will have the priority
similarUsersGroup = sorted(similarUsersGroup, key= lambda x:len(x[1]), reverse = True)
# Inspecting the 2nd top user (1st one is the same as our selected user)
similarUsersGroup[1]

(846,
        User_ID  Item_ID  Rating
 56664      846     1074       3
 56764      846       94       4
 56811      846      627       4
 56859      846       57       2
 57066      846      377       2
 ...        ...      ...     ...
 99238      846      210       5
 99549      846      318       5
 99669      846       40       2
 99670      846       98       4
 99809      846      101       4

 [346 rows x 3 columns])

In [50]:
# Number of similar users, who rated all the movies or some of them.
print(len(similarUsersGroup))
# userId of the 2nd top user group
print(similarUsersGroup[1][0])
# Dataframe of the 2nd top user group
print(similarUsersGroup[1][1])

930
846
       User_ID  Item_ID  Rating
56664      846     1074       3
56764      846       94       4
56811      846      627       4
56859      846       57       2
57066      846      377       2
...        ...      ...     ...
99238      846      210       5
99549      846      318       5
99669      846       40       2
99670      846       98       4
99809      846      101       4

[346 rows x 3 columns]

In [11]:
#let's check how many movies this user has rated
len(similarUsersGroup[1][1])

346

In [51]:
# Number of similar users is very high (346) and not all the similar users are not contributing well for the recommendation
# Here, limiting the number to 100 Similar Users while computing the Similarity Score using pearson corrrelation.

# similarUsersGroup = similarUsersGroup[1:101] # Removing the first user (userId =405), as it is our selected user
similarUsersGroup = similarUsersGroup[1:101]
len(similarUsersGroup)
print(similarUsersGroup)

[(846,        User_ID  Item_ID  Rating
56664      846     1074       3
56764      846       94       4
56811      846      627       4
56859      846       57       2
57066      846      377       2
...        ...      ...     ...
99238      846      210       5
99549      846      318       5
99669      846       40       2
99670      846       98       4
99809      846      101       4

[346 rows x 3 columns]), (13,        User_ID  Item_ID  Rating
63          13      526       3
185         13       98       4
304         13      198       3
321         13      215       5
356         13       56       5
...        ...      ...     ...
97455       13      400       4
97858       13      541       1
99170       13      432       4
99306       13      904       1
99801       13      446       1

[335 rows x 3 columns]), (655,        User_ID  Item_ID  Rating
39576      655      693       3
39641      655      198       4
39693      655      670       3
39780      655      523       3
39786      655      736       3
...        ...      ...     ...
98839      655      558       4
99071      655      143       4
99305      655       69       3
99365      655      649       3
99603      655      692       3

[327 rows x 3 columns]), (450,        User_ID  Item_ID  Rating
17656      450      470       5
17680      450      783       3
17764      450     1147       4
18055      450       58       3
18071      450      142       5
...        ...      ...     ...
98389      450      178       4
98566      450      584       5
98871      450      732       3
99039      450      388       3
99772      450      654       4

[318 rows x 3 columns]), (276,        User_ID  Item_ID  Rating
38         276      796       1
43         276      564       3
83         276       54       3
236        276     1091       3
352        276        2       4
...        ...      ...     ...
96244      276      175       5
97302      276      772       4
97379      276      182       5
98293      276      807       2
99997      276     1090       1

[315 rows x 3 columns]), (537,        User_ID  Item_ID  Rating
27921      537       28       3
28010      537      526       3
28086      537       46       3
28381      537      557       3
28417      537      504       3
...        ...      ...     ...
99048      537       86       4
99539      537      192       4
99860      537      675       3
99952      537      778       3
99975      537      443       3

[290 rows x 3 columns]), (7,        User_ID  Item_ID  Rating
39           7       32       4
279          7      382       4
490          7      430       3
775          7      661       5
795          7      648       5
...        ...      ...     ...
93949        7      173       5
94682        7      639       5
95929        7      441       2
97848        7      198       3
98173        7      367       5

[281 rows x 3 columns]), (94,        User_ID  Item_ID  Rating
120         94      789       4
193         94     1217       3
384         94     1224       3
398         94      265       4
525         94      184       2
...        ...      ...     ...
90502       94      721       2
91278       94      226       2
95197       94      182       5
95973       94      559       4
98260       94     1101       3

[281 rows x 3 columns]), (303,        User_ID  Item_ID  Rating
15         303      785       3
233        303       69       5
246        303      842       2
479        303      404       4
518        303      200       4
...        ...      ...     ...
97553      303       88       4
97601      303      943       2
99123      303     1217       1
99699      303      627       3
99799      303      939       3

[263 rows x 3 columns]), (59,        User_ID  Item_ID  Rating
54          59      196       5
136         59       23       5
285         59      468       3
366         59      951       3
438         59      715       5
...        ...      ...     ...
96315       59       86       3
97368       59        4       4
97595       59      517       5
98087       59       91       4
98402       59      953       5

[258 rows x 3 columns]), (429,        User_ID  Item_ID  Rating
15417      429       73       3
15557      429       64       4
15653      429       86       5
15905      429     1222       3
16073      429      511       5
...        ...      ...     ...
95951      429      182       4
98560      429      217       3
99030      429      440       1
99563      429     1018       3
99963      429      199       5

[257 rows x 3 columns]), (234,        User_ID  Item_ID  Rating
19         234     1184       2
274        234      141       3
394        234      206       4
539        234      187       4
556        234      448       3
...        ...      ...     ...
95680      234      792       4
96284      234      659       3
97171      234        2       2
97798      234      656       4
97905      234      200       5

[256 rows x 3 columns]), (416,        User_ID  Item_ID  Rating
13949      416      724       4
14411      416      356       5
14444      416      578       4
14537      416       69       4
14786      416     1188       3
...        ...      ...     ...
95232      416      184       4
95867      416      655       5
97469      416       95       3
98179      416      659       5
99412      416       79       5

[255 rows x 3 columns]), (393,        User_ID  Item_ID  Rating
10388      393     1219       4
10812      393      318       3
10958      393      402       3
11008      393     1206       3
11317      393      940       2
...        ...      ...     ...
97462      393        8       3
97740      393     1419       3
98420      393      399       4
98895      393       97       4
99605      393      693       3

[253 rows x 3 columns]), (222,        User_ID  Item_ID  Rating
85         222      366       4
188        222      755       4
320        222       77       4
344        222      724       3
432        222       97       4
...        ...      ...     ...
89965      222      230       4
90827      222      465       2
93356      222       64       5
94344      222     1206       2
98000      222      241       3

[251 rows x 3 columns]), (308,        User_ID  Item_ID  Rating
363        308      649       4
395        308      402       4
396        308      640       4
547        308      427       4
574        308       55       3
...        ...      ...     ...
96496      308      530       4
97163      308      429       4
97758      308      513       3
98479      308      778       3
98602      308      169       5

[248 rows x 3 columns]), (682,        User_ID  Item_ID  Rating
42290      682      735       4
42318      682      623       3
42401      682      215       4
42416      682      265       3
42598      682       68       5
...        ...      ...     ...
98440      682       85       3
98546      682      746       3
98816      682      470       5
98880      682       73       5
99720      682       71       5

[247 rows x 3 columns]), (293,        User_ID  Item_ID  Rating
78         293        5       3
197        293     1267       3
434        293      135       5
484        293      770       3
738        293      423       3
...        ...      ...     ...
98782      293       94       2
98954      293      303       4
98973      293       28       3
99501      293      127       5
99581      293      509       3

[243 rows x 3 columns]), (378,        User_ID  Item_ID  Rating
8107       378      554       3
8187       378       63       3
8192       378      367       3
8372       378      202       3
8449       378        8       4
...        ...      ...     ...
97896      378      735       4
97962      378      238       3
98123      378      402       4
99775      378      441       3
99994      378       78       3

[243 rows x 3 columns]), (201,        User_ID  Item_ID  Rating
62         201      219       4
303        201      695       1
450        201      649       3
471        201      960       2
734        201     1100       4
...        ...      ...     ...
93576      201      583       1
94794      201      239       1
95246      201      195       3
96970      201      440       2
97545      201       28       3

[242 rows x 3 columns]), (279,        User_ID  Item_ID  Rating
180        279     1240       1
255        279       68       4
300        279      501       3
610        279      399       4
699        279      586       4
...        ...      ...     ...
98056      279       83       5
98988      279     1444       3
99308      279      969       3
99439      279      779       3
99982      279       64       1

[236 rows x 3 columns]), (311,        User_ID  Item_ID  Rating
681        311      432       4
811        311      179       2
854        311      654       3
1011       311       98       5
1398       311      559       2
...        ...      ...     ...
94208      311      230       5
96548      311      415       3
97387      311      550       3
97890      311      392       5
99320      311      170       5

[236 rows x 3 columns]), (561,        User_ID  Item_ID  Rating
30407      561       51       3
30644      561       23       5
30904      561      143       1
31227      561     1101       3
31362      561      204       3
...        ...      ...     ...
98225      561      199       4
98896      561      226       1
99072      561      504       3
99140      561      417       2
99556      561       49       2

[234 rows x 3 columns]), (896,        User_ID  Item_ID  Rating
62826      896     1101       2
62829      896      403       1
63081      896       67       2
63450      896      525       5
63466      896      212       2
...        ...      ...     ...
99330      896      692       4
99371      896      647       3
99687      896      176       5
99906      896       96       5
99910      896      511       5

[232 rows x 3 columns]), (417,        User_ID  Item_ID  Rating
14238      417      781       3
14616      417      551       3
14889      417       83       5
14917      417      423       4
14945      417      578       3
...        ...      ...     ...
93594      417      209       4
94730      417      568       2
95544      417      191       5
99217      417      365       4
99499      417      302       3

[230 rows x 3 columns]), (92,        User_ID  Item_ID  Rating
207         92       77       3
249         92      172       4
362         92      229       3
431         92      501       2
515         92      168       4
...        ...      ...     ...
93143       92      233       3
96013       92      433       5
96051       92      855       5
96611       92     1210       1
99541       92       65       4

[229 rows x 3 columns]), (796,        User_ID  Item_ID  Rating
52247      796     1074       1
52450      796      401       3
52451      796      184       1
52627      796      418       4
52705      796      229       3
...        ...      ...     ...
98316      796       58       3
98428      796      127       5
98475      796       94       3
99063      796      378       4
99197      796      736       3

[228 rows x 3 columns]), (194,        User_ID  Item_ID  Rating
125        194      385       2
155        194      466       4
225        194      181       3
259        194       54       3
393        194       66       3
...        ...      ...     ...
91943      194      654       2
92064      194      575       1
92400      194      399       2
95506      194      208       3
95556      194      501       3

[223 rows x 3 columns]), (435,        User_ID  Item_ID  Rating
16110      435      780       2
16554      435      380       3
17009      435      431       3
17118      435      462       5
17188      435      443       3
...        ...      ...     ...
96353      435      430       5
96729      435      603       3
96820      435      441       3
97100      435      201       4
97983      435      709       4

[221 rows x 3 columns]), (406,        User_ID  Item_ID  Rating
12691      406       48       5
13016      406      664       2
13520      406      239       3
13714      406      318       5
13810      406       85       2
...        ...      ...     ...
98033      406      205       2
98048      406      217       4
98134      406      393       4
98371      406      654       4
98835      406      971       3

[220 rows x 3 columns]), (95,        User_ID  Item_ID  Rating
89          95      625       4
148         95      787       2
314         95      135       3
650         95     1217       3
851         95      233       4
...        ...      ...     ...
94444       95      433       4
95486       95      227       2
95653       95      623       3
95907       95     1222       2
98690       95      386       2

[216 rows x 3 columns]), (642,        User_ID  Item_ID  Rating
37423      642       70       2
37621      642      951       3
37642      642       38       4
37798      642      921       5
37828      642      746       3
...        ...      ...     ...
97211      642      181       5
97984      642      553       5
97990      642     1182       2
99027      642      955       3
99665      642       73       4

[216 rows x 3 columns]), (387,        User_ID  Item_ID  Rating
9483       387     1166       3
9559       387       56       5
9683       387      218       3
9699       387      180       4
9760       387      514       3
...        ...      ...     ...
94358      387      188       5
95860      387      174       5
96764      387      581       4
98208      387      214       5
98784      387      727       5

[213 rows x 3 columns]), (399,        User_ID  Item_ID  Rating
11815      399      219       3
12090      399        8       3
12176      399     1228       3
12341      399       73       3
12664      399      372       3
...        ...      ...     ...
93105      399      232       2
93186      399      366       3
93896      399       29       3
97289      399       47       3
99084      399       90       2

[213 rows x 3 columns]), (268,        User_ID  Item_ID  Rating
171        268      231       4
183        268     1035       2
264        268        2       2
399        268       62       3
433        268      436       3
...        ...      ...     ...
88074      268      450       1
88601      268      239       3
90759      268      449       2
95802      268      380       2
95859      268      747       3

[211 rows x 3 columns]), (804,        User_ID  Item_ID  Rating
52936      804       11       4
53138      804       31       4
53349      804      204       4
53411      804       82       5
53506      804     1076       3
...        ...      ...     ...
98946      804     1177       3
99220      804      197       4
99448      804      435       3
99545      804      132       4
99814      804      233       4

[209 rows x 3 columns]), (916,        User_ID  Item_ID  Rating
64581      916      467       3
65084      916      232       3
65265      916      366       3
65356      916     1046       2
65411      916      470       3
...        ...      ...     ...
99363      916      461       4
99547      916      704       3
99568      916      215       3
99673      916      557       4
99807      916      356       3

[209 rows x 3 columns]), (650,        User_ID  Item_ID  Rating
38574      650      517       3
38692      650      514       3
39136      650      843       2
39238      650      747       3
39488      650      552       4
...        ...      ...     ...
96248      650       62       3
97041      650       89       4
97621      650       23       3
97850      650      565       3
99079      650       27       3

[208 rows x 3 columns]), (880,        User_ID  Item_ID  Rating
60191      880      386       3
60414      880      398       3
60451      880      232       4
60775      880      791       2
60873      880      651       5
...        ...      ...     ...
98981      880       94       3
99111      880      168       3
99206      880      627       3
99776      880      110       3
99806      880        5       3

[206 rows x 3 columns]), (269,        User_ID  Item_ID  Rating
153        269      504       4
230        269      127       4
284        269      367       3
397        269      522       5
467        269      217       2
...        ...      ...     ...
96666      269      739       1
96832      269      378       3
96939      269     1267       1
98132      269      708       4
99595      269      515       4

[202 rows x 3 columns]), (474,        User_ID  Item_ID  Rating
20862      474        8       5
21313      474      480       5
21338      474       68       3
21360      474      736       3
21395      474      528       5
...        ...      ...     ...
98486      474       47       4
98518      474      381       4
98686      474      190       3
99664      474       31       4
99722      474       56       5

[202 rows x 3 columns]), (889,        User_ID  Item_ID  Rating
62021      889       72       3
62044      889      659       4
62158      889      654       3
62214      889       65       4
62267      889       58       3
...        ...      ...     ...
99653      889      181       4
99827      889      550       3
99884      889        8       3
99938      889       77       3
99954      889        2       3

[202 rows x 3 columns]), (524,        User_ID  Item_ID  Rating
26203      524      205       5
26209      524       89       5
26229      524      660       5
26643      524      650       2
26705      524     1268       3
...        ...      ...     ...
98809      524      265       4
98865      524      955       1
99203      524      519       4
99254      524      430       3
99559      524      318       4

[199 rows x 3 columns]), (864,        User_ID  Item_ID  Rating
58832      864       71       3
58891      864       53       4
58942      864      642       3
59167      864       50       5
59605      864      168       4
...        ...      ...     ...
98936      864      265       5
99225      864      734       3
99335      864      673       3
99404      864      550       4
99764      864      418       3

[199 rows x 3 columns]), (551,        User_ID  Item_ID  Rating
29501      551      684       5
29523      551      578       5
29866      551      552       3
30242      551      365       5
30443      551       31       4
...        ...      ...     ...
97799      551      233       4
98499      551       58       5
98650      551      583       3
98656      551      192       5
99288      551      403       3

[196 rows x 3 columns]), (363,        User_ID  Item_ID  Rating
6856       363      391       2
7063       363     1168       2
7070       363      673       2
7390       363      288       4
7618       363       97       2
...        ...      ...     ...
97573      363       80       4
97823      363      739       3
98205      363      168       4
98405      363      238       4
99942      363      181       5

[195 rows x 3 columns]), (727,        User_ID  Item_ID  Rating
46513      727      441       2
46529      727      181       3
46611      727      720       2
46621      727     1119       3
46647      727       68       4
...        ...      ...     ...
98374      727      392       4
98378      727      465       2
98666      727       11       3
98791      727       56       3
98804      727      205       5

[195 rows x 3 columns]), (870,        User_ID  Item_ID  Rating
59373      870      517       2
60254      870      642       4
60364      870      566       2
60480      870      521       3
60602      870       54       2
...        ...      ...     ...
99414      870      655       4
99622      870      943       2
99666      870       11       4
99728      870        4       2
99800      870      435       3

[194 rows x 3 columns]), (497,        User_ID  Item_ID  Rating

In [52]:
#Store the Pearson Correlation in a dictionary, 
# where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every similar user group in our subset
for name, group in similarUsersGroup:
    
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='Item_ID')
    inputMovies = inputMovies.sort_values(by='Item_ID')
    
    #Get the N (total similar movies watched) for the formula 
    #nRatings = len(group)
    
    #Get the review scores of the Selected user for the movies that they both have in common
    temp_df = inputMovies[inputMovies['Item_ID'].isin(group['Item_ID'].tolist())]
    
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    selectedUserTempRatingList = temp_df['Rating'].tolist()
    #print(selectedUserTempRatingList)
    
    #Let's also put the current user group reviews in a list format
    similarUserTempRatingList = group['Rating'].tolist()
    
    #Calculating pearson similarity
    simXX = 0
    meanSelectedUserTempRating = stat.mean(selectedUserTempRatingList)
    for i in selectedUserTempRatingList:
        simXX = simXX + pow((i - meanSelectedUserTempRating),2)
    
    simYY = 0
    meanSimilarUserTempRaning = stat.mean(similarUserTempRatingList)
    for j in similarUserTempRatingList:
        simYY = simYY + pow((j - meanSimilarUserTempRaning),2)
        
    simXY = 0
    for i, j in zip(selectedUserTempRatingList, similarUserTempRatingList):
        simXY = simXY+ ((i - meanSelectedUserTempRating ) * (j-meanSimilarUserTempRaning))
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if simXX != 0 and simYY != 0:
        pearsonCorrelationDict[name] = simXY/np.sqrt(simXX*simYY)
    else:
        pearsonCorrelationDict[name] = 0

In [53]:
pearsonCorrelationDict.items()

dict_items([(846, 0.17010850832588198), (13, 0.16571860162076085), (655, 0.030335053411754367), (450, 0.1351280374070967), (276, 0.3197632949832927), (537, 0.07613540816499086), (7, 0.21510987177036997), (94, 0.094500745481761), (303, 0.31890705970857397), (59, 0.16625616668161414), (429, 0.2472260089383148), (234, 0.033177612850703), (416, 0.2663795737832617), (393, 0.1503928783016631), (222, 0.3429066839146551), (308, 0.008433619745827807), (682, 0.1652429800578542), (293, 0.1322471791189863), (378, 0.20435360376779346), (201, 0.16931860454981412), (279, -0.0875005382865721), (311, 0.07994191300292676), (561, -0.08846861268230952), (896, 0.3067435633859717), (417, 0.24120007956206244), (92, 0.09402816324682843), (796, 0.1847371600144272), (194, 0.19668865053987647), (435, 0.03660113145465196), (406, -0.008587315975503869), (95, 0.2650805900462755), (642, 0.044018932181595874), (387, 0.019417754843104904), (399, 0.004598436073649535), (268, 0.09246794548934029), (804, 0.1483355459439959), (916, 0.025267105839234187), (650, 0.18359849171374107), (880, 0.31809860423634717), (269, -0.08306907191330258), (474, 0.20441515266675514), (889, 0.12643795641981104), (524, -0.09650874406810549), (864, 0.2994859766318906), (551, 0.10291505632461181), (363, 0.15891848268569456), (727, 0.20326537806118627), (870, 0.17279966918731074), (497, 0.18720478821842731), (18, -0.04925419204937982), (151, 0.056608801486119076), (437, 0.2735623522390208), (749, 0.2874513850195474), (653, 0.1809037320071532), (85, 0.07936443373197173), (506, 0.18821284080254094), (774, 0.06351947852881636), (130, 0.37961846221436457), (472, 0.13148846546916634), (457, 0.19147292934392982), (291, 0.2618014265086014), (328, 0.17391260970386402), (339, 0.06144009125387283), (373, 0.024662050357743565), (758, 0.19130664988230153), (747, 0.18400537855859128), (805, -0.05528567256439569), (301, 0.2455439411554271), (271, 0.23124177641790494), (881, 0.13028416458459943), (886, 0.24466510320470453), (833, 0.0037257892004676552), (313, 0.09474882628367115), (327, 0.07091883200296055), (280, -0.05929696631364403), (504, 0.1369697052217986), (648, 0.19022962121178844), (389, 0.11808719862777652), (883, -0.16805987045455778), (334, 0.06143185785890227), (385, -0.26267188222338195), (716, 0.16243994441771972), (788, 0.09320438980988754), (90, 0.06424523879759265), (892, 0.1593157950601032), (299, -0.07874314894849552), (495, 0.10770159747832893), (286, 0.17871489070964677), (407, 0.18841138553822653), (1, -0.008591721600450207), (843, 0.003246419153349749), (543, 0.014957267581794179), (622, 0.2859064276858622), (712, 0.13811400730936593), (379, 0.25533391720072673), (618, 0.3121222403179797), (184, -0.027719531987784866), (326, 0.08617485136022476), (343, 0.17790025641209048), (588, 0.09263450257846274)])

In [54]:
similarityScoreofSimilarUsers_data = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
similarityScoreofSimilarUsers_data.head()
similarityScoreofSimilarUsers_data[0][0:10] ###Similar Users for user 405

846    0.170109
13     0.165719
655    0.030335
450    0.135128
276    0.319763
537    0.076135
7      0.215110
94     0.094501
303    0.318907
59     0.166256
Name: 0, dtype: float64

# Using the Prediction Function to predict the Rating of a particular movie

In [55]:
### Using the prediction function given:
# User_ID=450 is A
# User_ID=846 is B
# similarUsersGroup[0][846]
similarUsers = similarUsers.groupby(['User_ID'])
userA=similarUsers.get_group(450)
userB=similarUsers.get_group(846)

# Get the movies user B which are not rated by User A
movieIDNotinUserA=userB[~userB['Item_ID'].isin(userA['Item_ID'])]
len(movieIDNotinUserA)

118

In [56]:
movieIDNotinUserA

       User_ID  Item_ID  Rating
56664      846     1074       3
56859      846       57       2
57066      846      377       2
58372      846       36       2
58830      846      674       4
...        ...      ...     ...
97361      846      738       4
98580      846     1109       3
99105      846     1178       2
99211      846      429       2
99669      846       40       2

[118 rows x 3 columns]

In [57]:
# calculate mean ratings for Users A and B
meanA=userA['Rating'].mean()
print(meanA)

meanB=userB['Rating'].mean()
print(meanB)

similarityAB=similarityScoreofSimilarUsers_data[0][846] ###Similarity between Users 450 and 846

# Here the UserB is 846 and the item which is present in B and not in A is 1074.
# Hence calculating prediction for User A item 1074
userBItem=userB[userB['Item_ID'] == 1074]
ratingsUserBItem=userBItem['Rating']

#Predicting the Rating for User A and Movie_ID 1074
predictionAB= meanA + ((similarityAB * (ratingsUserBItem-meanB))/similarityAB)

list(predictionAB)

3.8867924528301887
3.6878612716763004

[3.1989311811538883]

# 10 Similar Users for the Selected User(405)

In [58]:
#Similarity score of other similar users to our selected user (405)
similarityScoreofSimilarUsers_data.columns = ['Similarity_Score']
similarityScoreofSimilarUsers_data['userId'] = similarityScoreofSimilarUsers_data.index
similarityScoreofSimilarUsers_data.index = range(len(similarityScoreofSimilarUsers_data))
similarityScoreofSimilarUsers_data.head()
# type(similarityScoreofSimilarUsers_data)

   Similarity_Score  userId
0          0.170109     846
1          0.165719      13
2          0.030335     655
3          0.135128     450
4          0.319763     276

In [60]:
topSimilarUsers=similarityScoreofSimilarUsers_data.sort_values(by='Similarity_Score', ascending=False)
topSimilarUsers.head(10)

    Similarity_Score  userId
57          0.379618     130
14          0.342907     222
4           0.319763     276
8           0.318907     303
38          0.318099     880
95          0.312122     618
23          0.306744     896
43          0.299486     864
52          0.287451     749
92          0.285906     622

# 20 most relevant movies recommender suggests

In [61]:
# Merging the top similar users similarity score with their ratings of movies
topSimilarUsersRating = topSimilarUsers.merge(ratings_data, left_on='userId', right_on='User_ID', how='inner')
topSimilarUsersRating.head()

   Similarity_Score  userId  User_ID  Item_ID  Rating
0          0.379618     130      130      379       4
1          0.379618     130      130      216       4
2          0.379618     130      130     1014       3
3          0.379618     130      130     1017       3
4          0.379618     130      130      109       3

In [62]:
# Calculating the mean ratings of all the similar users
meanRb = topSimilarUsersRating.groupby('userId').mean()[['Rating']]
meanRb.columns = ['Avg_Rating']
meanRb['userId'] = meanRb.index
meanRb.index = range(len(meanRb))
meanRb

    Avg_Rating  userId
0     3.610294       1
1     3.965261       7
2     3.097484      13
3     3.880866      18
4     3.934555      59
..         ...     ...
95    3.362500     886
96    3.435583     889
97    4.000000     892
98    2.980663     896
99    3.365931     916

[100 rows x 2 columns]

In [63]:
# Merging the top similar users average rating score 
topSimilarUsersRating = topSimilarUsersRating.merge(meanRb, left_on='userId', right_on='userId', how='inner')
topSimilarUsersRating.head()

   Similarity_Score  userId  User_ID  Item_ID  Rating  Avg_Rating
0          0.379618     130      130      379       4    3.985836
1          0.379618     130      130      216       4    3.985836
2          0.379618     130      130     1014       3    3.985836
3          0.379618     130      130     1017       3    3.985836
4          0.379618     130      130      109       3    3.985836

In [64]:
#Multiplies the similarity by the user's ratings
topSimilarUsersRating['Weighted_Rating_Score'] = topSimilarUsersRating['Similarity_Score']*(topSimilarUsersRating['Rating']-topSimilarUsersRating['Avg_Rating'])
topSimilarUsersRating.head()

,Similarity_Score,userId,User_ID,Item_ID,Rating,Avg_Rating,Weighted_Rating_Score
0,0.379618,130,130,379,4,3.985836,0.005377
1,0.379618,130,130,216,4,3.985836,0.005377
2,0.379618,130,130,1014,3,3.985836,-0.374241
3,0.379618,130,130,1017,3,3.985836,-0.374241
4,0.379618,130,130,109,3,3.985836,-0.374241

In [66]:
#Applies a sum to the topUsers after grouping it up by userId
###???
tempTopSimilarUsersRating = topSimilarUsersRating.groupby('Item_ID').sum()[['Weighted_Rating_Score']]
tempTopSimilarUsersRating.columns = ['Sum_Weighted_Rating_Score']
tempTopSimilarUsersRating['Movie_ID'] = tempTopSimilarUsersRating.index
tempTopSimilarUsersRating.head()

         Sum_Weighted_Rating_Score  Movie_ID
Item_ID
1                         6.259708         1
2                        -2.423070         2
3                        -3.363739         3
4                         1.940318         4
5                        -1.279583         5

In [67]:
#Creates an empty dataframe
recommendation_data = pd.DataFrame()
#Now we take the weighted average
meanRa = inputMovies['Rating'].mean()
recommendation_data['Weighted_Avg_Recommendation_Score'] = meanRa+(tempTopSimilarUsersRating['Sum_Weighted_Rating_Score']/topSimilarUsers['Similarity_Score'].sum())
recommendation_data['Movie_ID'] = recommendation_data.index
recommendation_data.head(20)

         Weighted_Avg_Recommendation_Score  Movie_ID
Item_ID
1                                 2.330803         1
2                                 1.642336         2
3                                 1.567749         3
4                                 1.988314         4
5                                 1.733004         5
6                                 1.792902         6
7                                 2.268328         7
8                                 2.260837         8
9                                 2.228547         9
10                                1.814199        10
11                                2.258397        11
12                                2.756826        12
13                                1.829261        13
14                                1.958208        14
15                                2.004307        15
16                                1.798665        16
17                                1.782822        17
18                                1.793548        18
19                                1.866777        19
20                                1.760604        20

In [68]:
recommendation_data_sorted=recommendation_data.sort_values(by='Weighted_Avg_Recommendation_Score', ascending=False)
recommendation_data_sorted.head(20)

         Weighted_Avg_Recommendation_Score  Movie_ID
Item_ID
50                                3.085856        50
174                               3.010456       174
172                               2.965200       172
64                                2.857734        64
98                                2.830892        98
181                               2.801748       181
12                                2.756826        12
127                               2.731610       127
173                               2.727707       173
22                                2.695014        22
318                               2.673637       318
79                                2.608728        79
96                                2.559132        96
168                               2.548006       168
191                               2.543344       191
357                               2.543307       357
204                               2.538363       204
483                               2.518363       483
100                               2.501642       100
56                                2.492678        56

In [69]:
movies=movies_data[['Item_ID','movie_title']]
movies

      Item_ID                                movie_title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [70]:
###Top 20 movie recommendations for the selected user(405)
top_20_movies=pd.merge(recommendation_data_sorted,movies, how='inner', on='Item_ID')
top_20_movies.head(20)

,Item_ID,Weighted_Avg_Recommendation_Score,Movie_ID,movie_title
0,50,3.085856,50,Star Wars (1977)
1,174,3.010456,174,Raiders of the Lost Ark (1981)
2,172,2.965200,172,"Empire Strikes Back, The (1980)"
3,64,2.857734,64,"Shawshank Redemption, The (1994)"
4,98,2.830892,98,"Silence of the Lambs, The (1991)"
5,181,2.801748,181,Return of the Jedi (1983)
6,12,2.756826,12,"Usual Suspects, The (1995)"
7,127,2.731610,127,"Godfather, The (1972)"
8,173,2.727707,173,"Princess Bride, The (1987)"
9,22,2.695014,22,Braveheart (1995)
10,318,2.673637,318,Schindler's List (1993)
11,79,2.608728,79,"Fugitive, The (1993)"
12,96,2.559132,96,Terminator 2: Judgment Day (1991)
13,168,2.548006,168,Monty Python and the Holy Grail (1974)
14,191,2.543344,191,Amadeus (1984)
15,357,2.543307,357,One Flew Over the Cuckoo's Nest (1975)
16,204,2.538363,204,Back to the Future (1985)
17,483,2.518363,483,Casablanca (1942)
18,100,2.501642,100,Fargo (1996)
19,56,2.492678,56,Pulp Fiction (1994)